	
	<%= simple_form_for(resource, :html => { :class => "widget login"}, :as => resource_name, :url => session_path(resource_name)) do |f| %>
		<header>
		  <h3 class="login-header">Sign In</h3>
		</header>

		<section>
			<!-- <fieldset>
		    <%#= f.input :username, :required => true %>
		  </fieldset> -->
		  <fieldset>
		    <%= f.input :email, :required => true %>
		  </fieldset>
		  <fieldset>
		    <%= f.input :password, :required => true %>
		  </fieldset>
		  <fieldset class="sumbit-area">
		  	<%= f.button :submit, "Sign in", :class=>"btn" %>
		  </fieldset>
		  <!--
		  <fieldset class="remember-me">
		    <label for="remember-me">
		      <input type="checkbox" id="remember-me" />Remember me
		    </label>
		    <a href="#">Forgot password?</a>
		  </fieldset-->

		</section>
	<% end %>
	<div class="links">
		<%= render :partial => "devise/shared/links" %>
		<%= link_to "Contact us", "#", :id => "contact-help" %><br />
	</div>

	<% content_for :scripts do %>
		<script type="text/javascript">

		  jQuery(document).ready(function($) {

		    // var timeID;

		    // if ($('#user_email').is(":focus") == false && $('#user_password').is(":focus") == false){
		    //   timeID = setInterval(function(){
		    //     $('#notLogginInModal').modal('show');
		    //     clearInterval(timeID);
		    //   }, 3000);    
		    // }
		    // $('#new_user').on('focus', '#user_email, #user_password', function(){
		    //   clearInterval(timeID);
		    // });
			  $('#help, #contact-help').live("click", function(){
		      $('#notLogginInModal').modal('show');
		    });

			  $('#email-form').validate({
		      debug: true,
		      submitHandler: function(form){
		        
		        console.log('start');
		        var info = {}
		        info['email'] = $('#notLogginInModal #inputEmail').val();
		        info['message'] = $('#notLogginInModal #msg').val();
		        
		        $.ajax({
		          url: '/admin/loginpage_message',
		          type: "POST",
		          dataType: 'script',
		          data: info,
		          statusCode: {
						    200: function() {
						    $('#notLogginInModal .modal-header h5').html("Message Sent");
		            $('#notLogginInModal .modal-body').html("We will get back to you as soon as possible");
		            $('#notLogginInModal input[type="submit"]').remove();
						    }
						  }
		        })
		      },
		      onsubmit: true,  
		      rules: {
		        inputEmail: {
		          required: true,
		          email: true
		        },
		        msg: {
		          required: true,
		          minlength: 4
		        }
		      },
		      highlight: function(label){
		        $(label).closest('.control-group').addClass('error');
		      },
		      success: function(label){ 
		        label
		          .text('OK!').addClass('valid')
		          .closest('.control-group').addClass('success');
		      }
		    });
		  });
	  
		</script>

	<% end %>