
<div class="span12">
  <div class="page-header">
    <h1>Listing stores</h1>
  </div>   
Download
<%= link_to "CSV", stores_path(format: "csv") %> |
<%= link_to "Excel", stores_path(format: "xls") %>
<table id="tbl-stores" class="table table-striped">
  <thead>
  <tr>
    <th>Store</th>
    <th>Store format</th>
    <th>Retailer</th>
    <th>Address</th>
    <!--th>Sector</th-->
    <!--th>Description</th-->
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>


<% #TO DO need to check it is first record? %>
<% @stores_in_country.each do |store| %>
  <tr>
    <td><%= link_to store.name, store %></td>
    <td><%= store.store_format.name %></td>
    <td><%= store.retailer.name %></td>
    <td>
      <%= store.address %><br /><%= store.address2 %><br />
      <%= store.postcode %>,
      <%= store.country.name %>
    </td>
    <!--td><%= store.retailer.sector.name %></td-->
    <!--td><%#= store.longitude %></td-->
    <!--td><%#= store.latitude %></td-->
    <!--td><%#= store.description %></td-->
    <td><%= link_to 'Details', store %></td>
    <td><%= link_to 'Edit', edit_store_path(store) %></td>
    <td><%= link_to 'Destroy', store, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</tbody>
</table>
<%= link_to 'New Store', new_store_path, :class => 'btn btn-primary' %>





</div>