<%# javascript 'jquery.gmap.min' %>
<% content_for :head do %>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script>
      $(function(){
          
        var map;
        var store = new google.maps.LatLng(<%= @store.latitude %>, <%= @store.longitude %>);
        function initialize() {
          var mapOptions = {
            zoom: 15,
            center: store,
            mapTypeId: google.maps.MapTypeId.ROADMAP
          };
            map = new google.maps.Map(document.getElementById('map_canvas'),
              mapOptions);
            var marker = new google.maps.Marker({
                position: store,
                map: map,
                title: 'Hello World!'
            });
        }

        google.maps.event.addDomListener(window, 'load', initialize);

      });
    </script>
<% end %>          

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @store.name %>
</p>

<p>
  <b>Address:</b>
  <%= @store.address %>
</p>

<p>
  <b>Address2:</b>
  <%= @store.address2 %>
</p>

<p>
  <b>Postcode:</b>
  <%= @store.postcode %>
</p>

<p>
  <b>Store format:</b>
  <%= @store.store_format.name %>
</p>

<p>
  <b>Retailer:</b>
  <%= @store.retailer.name %>
</p>

<p>
  <b>Longitude:</b>
  <%= @store.longitude %>
</p>

<p>
  <b>Latitude:</b>
  <%= @store.latitude %>
</p>

<p>
  <b>Description:</b>
  <%= @store.description %>
</p>


<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>


<div id="map_canvas" style="width: 565px; height: 350px"></div> 
