<div class="page-header">
  <h1><%= @store.name %></h1>  
</div>

<div class="span9">
  <p>
    <% if @store.address.present? %>
      <%= @store.address %>,
    <% end %>
    <% if @store.address.present? %>
      <%= @store.address2 %>,
    <% end %>
    <% if @store.address3.present? %>
      <%= @store.address3 %><br />
    <% end %>
    <% if @store.town.present? %>
      <%= @store.town %>
    <% end %>
    <% if @store.postcode.present? %>
      <%= @store.postcode %>,
    <% end %>
    <%= @store.country.name unless @store.country_id.nil? %>
  </p>
  <p>
    <strong>Sector: </strong>
    <%= @store.retailer.sector.name unless @store.retailer.sector_id.nil? %>
  </p>
  <p>
    <strong>Store format:</strong>
    <%= @store.store_format.name %>
  </p>
  <p>
    <% if @store.channel_id.present? %>
      <strong>Environment Type:</strong>
      <%= @store.environment_type.name %>
    <% end %>
  </p>
  <p>
    <% if @store.channel_id.present? %>
      <strong>Channel:</strong>
      <%= @store.channel.name %>
    <% end %>
  </p>      

    <strong>Retailer:</strong>
    <%= @store.retailer.name %>
  </p>
  <!-- 
  <% unless @audits.nil? %>
    <% unless @audit.nil?  %>
    <p>
      <%#= select_tag "audit_id", options_from_collection_for_select(@audits, "id", "created_at"), :id => 'store-audit-select' %>
    </p>
    
    <section class="store_audit_categories">
      <%#= render 'stores/shared/store_view_categories', :locals => {:audits => @audits}%>
    </section> 
    <% end %>

  <% end %> -->
<!--   <h2>Audit List</h2>
  <div class="row-fluid pages">
    <ul>
      <% #for audit in @store.audits %>
        <li class="span3">
          <i></i>
          <strong><%#= audit.audit_date %></strong>
          <span>by <%#= audit.user.username %></span>
          <span class="actions">
            <%#= link_to "View", audit %>

          </span>
        </li>
      <% #end %>  
  </ul>
  </div> -->
  
  
<!--   <div class="btn-group btn-group-vertical block">
    <a href="" class="btn btn-icon btn-default btn-block group">
      <i></i>
      <span><%#= @store.audits.count %></span>
      Total Audits
    </a>
    <a href="" class="btn btn-icon btn-default btn-block group">
      <i></i>
      <span><%#= @store.photos.count %></span>
      Total Photos
    </a>
  </div> -->


</div>  
<div class="span3">

  <div class="action pull-right">
    <%= link_to new_audit_path(:retailer => @store.retailer.name, :store => @store.name),
        :class => 'btn btn-primary' do %>
        <i class="icon-upload icon-white"></i>
        <span>Upload Images</span>
    <% end %>    
    <%= link_to edit_store_path(@store), :class => 'btn btn-primary' do %>
        <i class="icon-edit icon-white"></i>
        <span>Edit</span>
    <% end %>    
  </div>

  <div class="btn-group btn-group-vertical block">
    <a href="" class="btn btn-icon btn-default btn-block group">
      <i></i>
      <span><%= @store.audits.count %></span>
      Total Audits
    </a>
    <a href="" class="btn btn-icon btn-default btn-block group">
      <i></i>
      <span><%= @store.photos.count %></span>
      Total Photos
    </a>
  </div>

  
</div>