<div class="span12">
  <div class="page-header">
    <h1><%= @store.name %></h1>
  </div>
</div>
<div class="span8">
  <p>
    <%= link_to 'Upload Images', new_audit_path(:retailer => @store.retailer.name, :store => @store.name) %>
  </p>
  <p id="notice"><%= notice %></p>

  <p>
    <b>Address:</b><br />
    <%= @store.address %><br />
    <%= @store.address2 %><br />
    <%= @store.postcode %><br />
    <%# = @store.location.name %>
    <%= @store.country.name %>
  </p>
  <p>
    <b>Sector</b>
    <%= @store.retailer.sector.name %>
  </p>

  <p>
    <b>Store format:</b>
    <%= @store.store_format.name %>
  </p>

  <p>
    <b>Retailer:</b>
    <%= @store.retailer.name %>
  </p>

    <% unless @photo_category.nil? %>
      <% @photo_category.each do |category, photos| %>  
        <% category = Category.find_by_id(category) %>

        <br /><h4><%= category.name %></h4>
        <% for photo in photos %>
          
            <%= link_to image_tag(photo.photo.url(:thumb)), photo  %>
            
        <% end %> 
      <% end %>     
    <% end %>  

  <%#= link_to 'Edit', edit_store_path(@store) %>
  <%#= link_to 'Back', stores_path %>

  

</div>