  <div class="page-header">
    <h1><%= @store.name %></h1>
    <%= link_to 'Edit', edit_store_path(@store) %>
  </div>

<div class="">
  <p>
    <%= link_to 'Upload Images', new_audit_path(:retailer => @store.retailer.name, :store => @store.name) %>
  </p>
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Address: </strong><br />
    <%= @store.address %><br />
    <%= @store.address2 %><br />
    <%= @store.postcode %><br />
    <%= @store.country.name unless @store.country_id.nil? %>
  </p>
  <p>
    <strong>Sector: </strong>
    <%= @store.retailer.sector.name unless @store.retailer.sector_id.nil? %>
  </p>
  <p>
    <strong>Store format:</strong>
    <%= @store.store_format.name %>
  </p>
  <p>
    <% if @store.channel_id.present? %>
      <strong>Environment Type:</strong>
      <%= @store.environment_type.name %>
    <% end %>
  </p>
  <p>
    <% if @store.channel_id.present? %>
      <strong>Channel:</strong>
      <%= @store.channel.name %>
    <% end %>
  </p>      

    <strong>Retailer:</strong>
    <%= @store.retailer.name %>
  </p>
  <!-- 
  <% unless @audits.nil? %>
    <% unless @audit.nil?  %>
    <p>
      <%#= select_tag "audit_id", options_from_collection_for_select(@audits, "id", "created_at"), :id => 'store-audit-select' %>
    </p>
    
    <section class="store_audit_categories">
      <%#= render 'stores/shared/store_view_categories', :locals => {:audits => @audits}%>
    </section> 
    <% end %>

  <% end %> -->
</div>  