<% javascript 'jquery.gmap.min' %>
<% content_for :head do %>
  <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAM41OPHNEzeRe7qzntS2dZxRhUbQCvgHcewKkuhV-KkriOp2HwhReuvtd5emO1MhE-giChvNKkDVHIA&sensor=true"
          type="text/javascript"></script>
<% end %>          

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @store.name %>
</p>

<p>
  <b>Address:</b>
  <%= @store.address %>
</p>

<p>
  <b>Address2:</b>
  <%= @store.address2 %>
</p>

<p>
  <b>Postcode:</b>
  <%= @store.postcode %>
</p>

<p>
  <b>Store format:</b>
  <%= @store.store_format.name %>
</p>

<p>
  <b>Retailer:</b>
  <%= @store.retailer.name %>
</p>

<p>
  <b>Longitude:</b>
  <%= @store.longitude %>
</p>

<p>
  <b>Latitude:</b>
  <%= @store.latitude %>
</p>

<p>
  <b>Description:</b>
  <%= @store.description %>
</p>


<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
