	// var audit_id = $('#audit_id').val();
	var select_id = "#" + $('.no-results a').closest('.chzn-container').prev().attr('id');
	var values = $(select_id).val();
	var new_mv = "<option value=<%= @media_vehicle.id %>><%= @media_vehicle.name %></option>";
	// alert( <%= @media_vehicle.id %>);
	$('.overlay').empty();
	$('.site-content').show();
	
	
	
	$(select_id).append(new_mv);
	// to do append to existing selected list
	$(select_id).val('<%= @media_vehicle.id %>');
	$(select_id).trigger("liszt:updated");

	
	// $('.chosen-media-vehic').val('<%= @media_vehicle.id %>').trigger("liszt:updated");

	$('.chosen-mv-uploader').chosen({no_results_text: "<a href='/media_vehicles/new' data-remote='true'>Add</a>:"});
