<h1>Listing media_vehicles</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @media_vehicles.each do |media_vehicle| %>
  <tr>
    <td><%= media_vehicle.name %></td>
    <td><%= media_vehicle.description %></td>
    <td><%= link_to 'Show', media_vehicle %></td>
    <td><%= link_to 'Edit', edit_media_vehicle_path(media_vehicle) %></td>
    <td><%= link_to 'Destroy', media_vehicle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Media vehicle', new_media_vehicle_path %>
