<fieldset>
  <button type="submit" class="btn clear-form">
    <!--i class="icon-refresh icon-white"></i--> Clear
  </button>
  <button type="submit" class="btn btn-primary search">
    <!--i class="icon-search icon-white"></i--> Search
  </button>
</fieldset>  

<div class="saved-search">
	<ul></ul>
  <div class="row-fluid">
  <%#= render @saved_searches unless current_user.save_searches.blank? %>
	<%= link_to "Save", new_save_search_path(:params => params[:search]), id: "new_link", :class => "btn small span3", remote: true %>
  
  <% unless params[:saved_search_id].nil? %>
    <%= link_to "Save as", edit_save_search_path(params[:saved_search_id]), :id => 'save_as', :class => "btn small span4", remote: true %>
  <% else %>    
    <%= link_to "Save as", "#", :id => 'save_as', :class => "btn small span4", :disabled => 'true' %>
  <% end %>  
	
  <% unless current_user.save_searches.blank? %>
    <%= link_to "Saved Searches", save_searches_path, id: "open_link", :class => "btn small span5", remote: true %>
  <% else %>  
    <%= link_to "Saved Searches", "#", :id => 'open_link', :class => "btn small span5", :disabled => 'true' %>
  <% end %>
  </div>
</div> 

	<!--div id = "new-save">
	  <%#= render @new_save_search %>
	</div-->
