<div class="content-filter-actions">

  <fieldset class="content-filter-search">
    <button type="submit" class="btn clear-form  btn-danger">Clear</button>
    <button type="submit" class="btn btn-primary search">Search</button>
  </fieldset>  


  <div class="saved-search">	
    <%#= render @saved_searches unless current_user.save_searches.blank? %>
  	<%= link_to "Save", new_save_search_path(:params => params[:search]), id: "new_link", :class => "btn btn-small btn-success", remote: true %>
    
    <% unless params[:saved_search_id].nil? %>
      <%= link_to "Save as", edit_save_search_path(params[:saved_search_id]), :id => 'save_as', :class => "btn btn-small", remote: true %>
    <% else %>    
      <%= link_to "Save as", "#", :id => 'save_as', :class => "btn btn-small btn-success", :disabled => 'true' %>
    <% end %>  
  	
    <% unless current_user.save_searches.blank? %>
      <%= link_to "Open Filters", save_searches_path, id: "open_link", :class => "btn btn-small btn-primary", remote: true %>
    <% else %>  
      <%= link_to "Open Filters", "#", :id => 'open_link', :class => "btn btn-small btn-primary", :disabled => 'true' %>
    <% end %>

  </div> 

</div><!-- /.content-filter-actions -->


	<!--div id = "new-save">
	  <%#= render @new_save_search %>
	</div-->
