
<%#= form_tag root_path, :id=>"search_form", remote: true do %>
<div class="search-form-actions">
  <%= render 'photos/shared/search_form_actions' %>
</div>    
<%= form_tag root_path, :id=>"search_form" do %>
  
      
      <fieldset>
        <%= label_tag "search_country_id" %>
        <% if search_country_id.present? %>
          <%= collection_select(:search, :country_id, @countries, :id, :name, 
          {:selected => search_country_id, :include_blank => 'All'}) %>
        <% else %>
          <%= collection_select(:search, :country_id, @countries, :id, :name, :prompt => 'All')  %>
        <% end %>  
      </fieldset>
      

  <div class="accordion" id="accordion2">
    <div class="accordion-group" id="sector-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#sector-accord">
          Sectors <i class="icon-plus pull-right"></i>
        </a>
      </div>
      <div id="sector-accord" class="accordion-body collapse">
        <div class="accordion-inner">
          <% for sector in @sectors %>
            <% if search_sectors && search_sectors.include?(sector.id.to_s) %>
              <%= label_tag "search[sectors][#{sector.id}]", :class => "checkbox"  do %>
                <%= check_box_tag "search[sectors][]", sector.id, true, :id => "search_sectors_#{sector.id}", :"data-desc" => "#{sector.name}" %>
                  <%= sector.name %>
              <% end %>  
            <% else %>  
              <%= label_tag "search[sectors][#{sector.id}]", :class => "checkbox" do %>
                <%= check_box_tag "search[sectors][]", sector.id, false, :id => "search_sectors_#{sector.id}" , :"data-desc" => "#{sector.name}"%>
                <%= sector.name %>
              <% end %>  
            <% end %>  
          <% end %>  
        </div>
      </div>
    </div>
    
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#retailers-accord">
          Retailers <i class="icon-plus pull-right"></i>
        </a>
      </div>
      <div id="retailers-accord" class="accordion-body collapse">
        <div class="accordion-inner">
          <%= render 'photos/shared/retailer_view', :locals => {:retailers => @retailers}%>
        </div>
      </div>
    </div>



    <div class="accordion-group" id="category-group">

      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#categories">
          Categories <i class="icon-plus pull-right"></i>
        </a>
      </div><!-- /.accordion-heading -->

      <div id="categories" class="accordion-body collapse">
        <div class="accordion-inner">
          <% for category in @categories %>
            <% if search_categories && search_categories.include?(category.id.to_s) %>
              <%= label_tag "search[categories][#{category.id}]", category.id, :class => "checkbox" do %>
                <%= check_box_tag "search[categories][]", category.id, true, :id => "search_categories_#{category.id}", :"data-desc" => "#{category.name}" %>
                <%= category.name %>
              <% end %>    
            <% else %>
              <%= label_tag "search[categories][#{category.id}]", :class => "checkbox" do %>
                <%= check_box_tag "search[categories][]", category.id, false, :id => "search_categories_#{category.id}", :"data-desc" => "#{category.name}" %>
                <%= category.name %>
              <% end %>  
            <% end %>
            
          <% end %>
        </div><!-- /.accordion-inner -->
      </div><!-- /.accordion-body -->
    </div><!-- /.accordion-group -->


    <div class="accordion-group" id="brand-owners-group">

      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#brand_owners">
          Brand Owners <i class="icon-plus pull-right"></i>
        </a>
      </div><!-- /.accordion-heading -->

      <div id="brand_owners" class="accordion-body collapse">
        <div class="accordion-inner">
          <% for brand_owner in @brand_owners %>

            <% if search_brand_owners && search_brand_owners.include?(brand_owner.id.to_s) %>

              <%= label_tag "search[brand_owners][#{brand_owner.id}]", :class => "checkbox" do %>
                
                <%= check_box_tag "search[brand_owners][]", brand_owner.id, true, :id => "search_brand_owners_#{brand_owner.id}", :"data-desc" => "#{brand_owner.name}" %>
                <%= brand_owner.name %>

              <% end %>  

            <% else %>  

              <%= label_tag "search[brand_owners][#{brand_owner.id}]", :class => "checkbox" do %>

                <%= check_box_tag "search[brand_owners][]", brand_owner.id, false, :id => "search_brand_owners_#{brand_owner.id}", :"data-desc" => "#{brand_owner.name}" %>
                <%= brand_owner.name %>

              <% end %>  

            <% end %>  

          <% end %>  

        </div><!-- /.accordion-inner -->
      </div><!-- /.accordion-body -->
    </div><!-- /.accordion-group -->



    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#brands-accord">
          Brands <i class="icon-plus pull-right"></i>
        </a>
      </div>
      <div id="brands-accord" class="accordion-body collapse">
        <div class="accordion-inner">
          <%= render 'photos/shared/brand_view', :locals => {:brands => @brands}%>
        </div>
      </div>
    </div>
    <!-- <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#dates">
          Dates <i class="icon-plus pull-right"></i>
        </a>
      </div>
      <div id="dates" class="accordion-body collapse">
        <div class="accordion-inner">
          <fieldset>
            <%= label_tag "From" %>
            <% if params[:search] && params[:search][:fromDate] && params[:search][:fromDate] %>
              <%= text_field_tag "search[fromDate]", params[:search][:fromDate] %>
            <% else %>
              <%= text_field_tag "search[fromDate]" %>
            <% end %>
          </fieldset>
          <fieldset>
            <%= label_tag "To" %>
            <% if params[:search] && params[:search][:toDate] && params[:search][:toDate] %>
              <%= text_field_tag "search[toDate]", params[:search][:toDate] %>  
            <% else %>
              <%= text_field_tag "search[toDate]" %>
            <% end %>  
          </fieldset>
        </div>
      </div>
    </div> -->
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#channel">
          Channel / Platform <i class="icon-plus pull-right"></i>
        </a>
      </div>
      <div id="channel" class="accordion-body collapse">
        <div class="accordion-inner">
          <% for channel in @channels %>
            <% if params[:search] && params[:search][:pchannel] && params[:search][:pchannel].include?(channel.id.to_s) %>
              <%= label_tag "search[pchannel][#{channel.id}]", :class => "checkbox" do %>
                <%= check_box_tag "search[pchannel][]", channel.id, true, :id => "search_pchannel_#{channel.id}", :"data-desc" => "#{channel.name}" %>
                <%= channel.name %>
              <% end %>  
            <% else %>
              <%= label_tag "search[pchannel][#{channel.id}]", :class => "checkbox" do %>
                <%= check_box_tag "search[pchannel][]", channel.id, false, :id => "search_pchannel_#{channel.id}", :"data-desc" => "#{channel.name}" %>
                <%= channel.name %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#env_type">
          Environment Types <i class="icon-plus pull-right"></i>
        </a>
      </div>
      <div id="env_type" class="accordion-body collapse">
        <div class="accordion-inner">
          <% for env_type in @env_types %>
            <% if params[:search] && params[:search][:env_types] && params[:search][:env_types].include?(env_type.id.to_s) %>
              <%= label_tag "search[env_types][#{env_type.id}]", :class => "checkbox" do %>
                <%= check_box_tag "search[env_types][]", env_type.id, true, :id => "search_env_types_#{env_type.id}", :"data-desc" => "#{env_type.name}" %>
                <%= env_type.name %>
              <% end %>  
            <% else %>
              <%= label_tag "search[env_types][#{env_type.id}]", :class => "checkbox" do %>
                <%= check_box_tag "search[env_types][]", env_type.id, false, :id => "search_env_types_#{env_type.id}", :"data-desc" => "#{env_type.name}" %>
                <%= env_type.name %>
              <% end %>  
            <% end %>  
          <% end %>  
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#store-formats">
          Store Formats <i class="icon-plus pull-right"></i>
        </a>
      </div>
      <div id="store-formats" class="accordion-body collapse">
        <div class="accordion-inner">
          <% for sf in @store_formats %>
            <% if params[:search] && params[:search][:sformats] && params[:search][:sformats].include?(sf.id.to_s) %>
              <%= label_tag "search[sformats][#{sf.id}]", :class => "checkbox" do %>
                <%= check_box_tag "search[sformats][]", sf.id, true, :id => "search_sformats_#{sf.id}", :"data-desc" => "#{sf.name}" %>
                <%= sf.name %>
              <% end %>  
            <% else %> 
              <%= label_tag "search[sformats][#{sf.id}]", :class => "checkbox" do %> 
                <%= check_box_tag "search[sformats][]", sf.id, false, :id => "search_sformats_#{sf.id}", :"data-desc" => "#{sf.name}"  %>
                <%= sf.name %>
              <% end %>  
            <% end %>
          <% end %>  
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#media_location">
          Media Locations <i class="icon-plus pull-right"></i>
        </a>
      </div>
      <div id="media_location" class="accordion-body collapse">
        <div class="accordion-inner">
          <% for media_location in @media_locations %>
            <% if params[:search] && params[:search][:media_loc] && params[:search][:media_loc].include?(media_location.id.to_s) %>
              <%= label_tag "search[media_loc][#{media_location.id}]", :class => "checkbox" do %>    
                <%= check_box_tag "search[media_loc][]", media_location.id, true, :id => "search_media_loc_#{media_location.id}", :"data-desc" => "#{media_location.name}"  %>
                <%= media_location.name %>
              <% end %>    
            <% else %>
              <%= label_tag "search[media_loc][#{media_location.id}]", :class => "checkbox" do %>      
                <%= check_box_tag "search[media_loc][]", media_location.id, false, :id => "search_media_loc_#{media_location.id}", :"data-desc" => "#{media_location.name}" %>
                <%= media_location.name %>
              <% end %>    
            <% end %>  
          <% end %>  
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#media_vehicle">
          Media Vehicles <i class="icon-plus pull-right"></i>
        </a>
      </div>
      <div id="media_vehicle" class="accordion-body collapse">
        <div class="accordion-inner">
          <% for media_vehicle in @media_vehicles %>
            <% if params[:search] && params[:search][:media_v] && params[:search][:media_v].include?(media_vehicle.id.to_s) %>
              <%= label_tag "search[media_v][#{media_vehicle.id}]", :class => "checkbox" do %>    
                <%= check_box_tag "search[media_v][]", media_vehicle.id, true, :id => "search_media_v_#{media_vehicle.id}", :"data-desc" => "#{media_vehicle.name}" %>
                <%= media_vehicle.name %>
              <% end %>    
            <% else %>
              <%= label_tag "search[media_v][#{media_vehicle.id}]", :class => "checkbox" do %>      
                <%= check_box_tag "search[media_v][]", media_vehicle.id, false, :id => "search_media_v_#{media_vehicle.id}", :"data-desc" => "#{media_vehicle.name}" %>
                <%= media_vehicle.name %>
              <% end %>    
            <% end %>  
            
          <% end %>  
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#media_type">
          Media Types <i class="icon-plus pull-right"></i>
        </a>
      </div>
      <div id="media_type" class="accordion-body collapse">
        <div class="accordion-inner">
          <% for media_type in @media_types %>
            <% if params[:search] && params[:search][:media_type] && params[:search][:media_type].include?(media_type.id.to_s) %>
              <%= label_tag "search[media_type][#{media_type.id}]", :class => "checkbox" do %>    
                <%= check_box_tag "search[media_type][]", media_type.id, true, :id => "search_media_type_#{media_type.id}", :"data-desc" => "#{media_type.name}" %>
                <%= media_type.name %>
              <% end %>  
            <% else %>
              <%= label_tag "search[media_type][#{media_type.id}]", :class => "checkbox" do %>      
                <%= check_box_tag "search[media_type][]", media_type.id, false, :id => "search_media_type_#{media_type.id}", :"data-desc" => "#{media_type.name}" %>
                <%= media_type.name %>
              <% end %>    
            <% end %>  
            
          <% end %>  
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#promo_type">
          Promotion Types <i class="icon-plus pull-right"></i>
        </a>
      </div>
      <div id="promo_type" class="accordion-body collapse">
        <div class="accordion-inner">
          <% for promo_type in @promo_types %>
            <% if params[:search] && params[:search][:promo_types] && params[:search][:promo_types].include?(promo_type.id.to_s) %>
              <%= label_tag "search[promo_types][#{promo_type.id}]", :class => 'checkbox' do %>  
                <%= check_box_tag "search[promo_types][]", promo_type.id, true, :id => "search_promo_types_#{promo_type.id}", :"data-desc" => "#{promo_type.name}"  %>
                <%= promo_type.name %><br />
              <% end %>  
            <% else %>
              <%= label_tag "search[promo_types][#{promo_type.id}]", :class => 'checkbox' do %>    
                <%= check_box_tag "search[promo_types][]", promo_type.id, false, :id => "search_promo_types_#{promo_type.id}", :"data-desc" => "#{promo_type.name}" %>
                <%= promo_type.name %><br />
              <% end %>
            <% end %>  
            
          <% end %>  
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#promo_cal">
          Promotion Calendars <i class="icon-plus pull-right"></i>
        </a>
      </div>
      <div id="promo_cal" class="accordion-body collapse">
        <div class="accordion-inner">
          <% for promo_calendar in @promo_calendars %>
            <% if params[:search] && params[:search][:promo_cal] && params[:search][:promo_cal].include?(promo_calendar.id.to_s) %>
              <%= label_tag "search[promo_cal][#{promo_calendar.id}]", :class => "checkbox" do %>    
                <%= check_box_tag "search[promo_cal][]", promo_calendar.id, true, :id => "search_promo_cal_#{promo_calendar.id}", :"data-desc" => "#{promo_calendar.name}" %>
                <%= promo_calendar.name %>
              <% end %>
            <% else %>
              <%= label_tag "search[promo_cal][#{promo_calendar.id}]", :class => "checkbox" do %>  
                <%= check_box_tag "search[promo_cal][]", promo_calendar.id, false, :id => "search_promo_cal_#{promo_calendar.id}", :"data-desc" => "#{promo_calendar.name}" %>
                <%= promo_calendar.name %>
              <% end %>
            <% end %>
          <% end %>  
        </div>
      </div>
    </div>
    <!-- <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#geolocation">
          Location Search <i class="icon-plus pull-right"></i>
        </a>
      </div>
      <div id="geolocation" class="accordion-body collapse">
        <div class="accordion-inner">
          <fieldset>
            <%= label_tag "Location" %>
            <% if params[:search] && params[:search][:location] && params[:search][:location] %>
              <%= text_field_tag 'search[location]', params[:search][:location] %>
            <% else %>
              <%= text_field_tag 'search[location]'%>
              <%#= text_field_tag 'search[location]', '', :autocomplete => photo_autocomplete_store_location_path %>
            <% end %>
            <span>e.g Edinburgh, EH3, etc</span>
          </fieldset>
        </div>
      </div>
    </div> -->
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#themes">
          Themes <i class="icon-plus pull-right"></i>
        </a>
      </div>
      <div id="themes" class="accordion-body collapse">
        <div class="accordion-inner">
          <% for theme in @themes %>
            <% if params[:search] && params[:search][:themes] && params[:search][:themes].include?(theme.id.to_s) %>
              <%= label_tag "search[themes][#{theme.id}]", :class => "checkbox" do %>
                <%= check_box_tag "search[themes][]", theme.id, true, :id => "search_themes_#{theme.id}", :"data-desc" => "#{theme.name}" %>
                <%= theme.name %>
              <% end %>
            <% else %>  
              <%= label_tag "search[themes][#{theme.id}]", :class => "checkbox" do %>
                <%= check_box_tag "search[themes][]", theme.id, false, :id => "search_themes_#{theme.id}", :"data-desc" => "#{theme.name}" %>
                <%= theme.name %>
              <% end %>  
            <% end %>  
          <% end %>  
        </div>
      </div>
    </div>

    <div class="single-group">
      <% if params[:search] && params[:search][:brand_comp] %>
        
        <%= label_tag "search[brand_comp]" do %>
          <%= check_box_tag "search[brand_comp]", "Brand Compliance", :check => "checked", :id => "search_brand_comp" %>
          Brand Compliance<br />
        <% end %>

        <% else %>    
          
        <%= label_tag "search[brand_comp]" do %>
          <%= check_box_tag "search[brand_comp]", "Brand Compliance", false, :id => "search_brand_comp" %>
          <span>Brand Compliance</span>
        <% end %>
        <% end %>
    </div>

    <div class="single-group date">
      <fieldset class="input-append">

        <%= label_tag "search_fromDate", "From" %>
        <% if params[:search] && params[:search][:fromDate] && params[:search][:fromDate] %>
          <%= text_field_tag "search[fromDate]", params[:search][:fromDate] %>
          <span class="add-on"><i class="icons icon-calendar"></i></span>
        <% else %>
          <%= text_field_tag "search[fromDate]" %>
          <span class="add-on"><i class="icons icon-calendar"></i></span>
        <% end %>
      </fieldset>

      <fieldset class="input-append">
        <%= label_tag "search_toDate", "To" %>
        <% if params[:search] && params[:search][:toDate] && params[:search][:toDate] %>
          <%= text_field_tag "search[toDate]", params[:search][:toDate] %>  
          <span class="add-on"><i class="icons icon-calendar"></i></span>
        <% else %>
          <%= text_field_tag "search[toDate]" %>
          <span class="add-on"><i class="icons icon-calendar"></i></span>
        <% end %>  
      </fieldset>
    </div>

    <div class="single-group">
      <fieldset>
        <%= label_tag "search_location", "Location (25 miles radius)" %>
        <% if params[:search] && params[:search][:location] && params[:search][:location] %>
          <%= text_field_tag 'search[location]', params[:search][:location] %>
        <% else %>
          <%= text_field_tag 'search[location]' %>
          <%#= text_field_tag 'search[location]', '', :autocomplete => photo_autocomplete_store_location_path %>
        <% end %><br />
        <span>e.g Edinburgh, EH3, etc</span>
      </fieldset>
    </div>

</div> <!-- ACCORDION ENDS HERE -->

<div class="search-form-actions">
  
  <fieldset>  
    <button type="submit" class="btn clear-form">Clear</button>   
    <button type="submit" class="btn btn-primary search">Search</button>
    <%#= submit_tag "Search", :name => nil, :class=> 'btn btn-primary' %>
    
  </fieldset>
</div>    
<% end %>
