<div class="page-header">
  <h1>Media Type List</h1>
</div>
<div class="action">
  <%= link_to new_media_type_path, :class => 'btn btn-primary pull-right' do %>
  <i class="icon-plus icon-white"></i>
  <span>Add New</span>
  <% end %>
</div>
<table class="table table-striped" id="tbl-media-types">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @media_types.each do |media_type| %>
      <tr>
        <td><%= media_type.name %></td>
        <td><%= media_type.description %></td>
        <td><%= link_to 'Show', media_type %></td>
        <td><%= link_to 'Edit', edit_media_type_path(media_type) %></td>
        <td><%= link_to 'Destroy', media_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>