
<div class="page-header">
  <h1>Brand Owner List</h1>
</div>   
<div class="action">
  <%= link_to new_brand_owner_path, :class => 'btn btn-primary btn-icon glyphicons circle_plus pull-right' do %>
  <i></i>
  <span>Add New</span>
  <% end %>
</div>  

<table class="table table-striped" id="tbl-brand-owners">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @brand_owners.each do |brand_owner| %>
      <tr>
        <td><%= link_to brand_owner.name, brand_owner %></td>
        <td><%= brand_owner.description %></td>
        <td><%= link_to 'Edit', edit_brand_owner_path(brand_owner), :class => 'btn btn-mini' %></td>
        <td><%= link_to 'Destroy', brand_owner, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>  
</table>
