
<div class="page-header">
  <h1>Sector List</h1>
</div>   
<div class="action">
  <%= link_to new_sector_path, :class => 'btn btn-primary btn-icon glyphicons circle_plus pull-right' do %>
    <i></i>
    <span>New Sector</span>
  <% end %>
</div>
<table id="tbl-sectors" class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Desc</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% for sector in @sectors %>
      <tr>
        <td><%= link_to sector.name, sector %></td>
        <td><%= sector.desc %></td>
        <td><%= link_to "Edit", edit_sector_path(sector) %></td>
        <td><%= link_to "Destroy", sector, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>  
</table>

<script type="text/template" id="sectors-list">
  <h1>header</h1>
  

</script>