<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.username %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>
<% unless @user.roles.nil? %>
	<p>
	  <b>Role:</b>
	  <%= @user.roles.map(&:name).join(", ") %>
	</p>
<% end %>	


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>


