<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>
<% unless @user.roles.nil? %>
	<p>
	  <b>Role:</b>
	  <%= @user.roles.map(&:name).join(", ") %>
	</p>
<% end %>	

<p>
  <b>Current Signin At:</b>
  <%= @user.current_sign_in_at.strftime('%d/%m/%Y %l:%M%p %Z') %>
</p>
<p>
  <b>Last Signin At:</b>
  <%= @user.last_sign_in_at.strftime('%d/%m/%Y %l:%M%p') %>
</p>

<p>
  <b>Current Signin IP Address:</b>
  <%= @user.current_sign_in_ip %>
</p>
<p>
  <b>Last Signin IP Address:</b>
  <%= @user.last_sign_in_ip %>
</p>

<p>
  <b>Signin Count:</b>
  <%= @user.sign_in_count %>
</p>

<%#= link_to 'Edit', edit_user_path(@user) %>
<%= link_to 'Back', users_path %>


