<%= simple_form_for(@retailer) do |f| %>
  <% if @retailer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@retailer.errors.count, "error") %> prohibited this retailer from being saved:</h2>

      <ul>
      <% @retailer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </fieldset>
  <fieldset>
    <%= f.association :sector %>
  </fieldset>
  <fieldset>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </fieldset>
  <div class="actions">
    <%= f.submit :class => 'btn btn-primary' %>
    <%= link_to 'Back', :back, :class => 'btn' %>
  </div>
<% end %>
