<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @retailer.name %>
</p>

<p>
  <b>Sector:</b>
  <%= @retailer.sector.name %>
</p>

<p>
  <b>Description:</b>
  <%= @retailer.description %>
</p>

<%= link_to 'Edit', edit_retailer_path(@retailer) %> |
<%= link_to 'New Store', new_store_path %> |
<%= link_to 'Retailer List', retailers_path %>
