<div class="page-header">
  <h1><%= @retailer.name %></h1>
</div>   
<p id="notice"><%= notice %></p>

<p>
  <b>Retail Sector:</b>
  <%= @retailer.sector.name %>
</p>

<p>
  <b>Description:</b>
  <%= @retailer.description %>
</p>

<%= link_to 'Edit', edit_retailer_path(@retailer) %> |
<%= link_to 'New Store', new_store_path %> |
<%= link_to 'Retailer List', retailers_path %>
