<% unless @store.nil? || @store.blank? %>
  <section class="store_views_view">
    <div class="page-header">
      <button type="button" class="close">×</button>
      <h1><%= @store.name %></h1>
    </div>

    <div class="">
      <p id="notice"><%= notice %></p>
      <input type="hidden" id="hidden-cats" name="category_ids[]" value="">
      <!-- <p>
        <%#= link_to 'Upload Images', new_audit_path(:retailer => @store.retailer.name, 
            :store => @store.name), 
            :class => 'btn btn-primary pull-right' %>
      </p> -->
      <p>
        <%= link_to 'Clear Filters', clear_filters_path, :id => 'clear-filter' %>
      </p>
      
      <section>
        <% if @store.address.present? %>
          <%= @store.address %>,
        <% end %>
        <% if @store.address.present? %>
          <%= @store.address2 %>,
        <% end %>
        <% if @store.address3.present? %>
          <%= @store.address3 %><br />
        <% end %>
        <% if @store.town.present? %>
          <%= @store.town %>
        <% end %>
        <% if @store.postcode.present? %>
          <%= @store.postcode %>,
        <% end %>
        <%= @store.country.name unless @store.country_id.nil? %>
      </section>
      <p>
        <strong>Store format: </strong>
        <%= @store.store_format.name %><br>
        
        <strong>Retailer: </strong>
        <%= @store.retailer.name %><br>
        
        <strong>Retail Sector: </strong>
        <%= @store.retailer.sector.name unless @store.retailer.sector_id.nil? %><br />
        
        <strong>Environment Type: </strong>
        <%= @store.environment_type.name unless @store.environment_type_id.nil? %><br />
        
        <strong>Channel: </strong>
        <%= @store.channel.name unless @store.channel_id.nil? %><br />
      </p>
      


<% unless current_user.subscription.projects.nil? %>


      
      <section class="store_audit_categories">
        <%= render 'stores/shared/store_view_categories' %>
      </section> 

<% else %>
  <% unless @audits.nil? %>
    <% unless @audit.nil?  %>

      <p>
        <%= select_tag "audit_id", options_from_collection_for_select(@audits, "id", "created_at"), :id => 'store-audit-select' %>
      </p>
      <section class="store_audit_categories">
        <%= render 'stores/shared/store_view_categories', :locals => {:audits => @audits}%>
      </section> 
    <% end %>
  <% end %>
<% end %>
      <% unless @audits.nil? %>
        <% unless @audit.nil?  %>

          <p>
            <%= select_tag "audit_id", options_from_collection_for_select(@audits, "id", "created_at"), :id => 'store-audit-select' %>
          </p>
          <section class="store_audit_categories">
            <%= render 'stores/shared/store_view_categories', :locals => {:audits => @audits}%>
          </section> 
        <% end %>
      <% end %>

    </div>    
  </section>

<% end %>  