<div class="page-header">
  <h1>Environment Types List</h1>
</div>
<div class="action">
  <%= link_to new_environment_type_path, :class => 'btn btn-primary pull-right' do %>
  <i class="icon-plus icon-white"></i>
  <span>Add New</span>
  <% end %>
</div>

<table class="table table-striped" id="tbl-env-types">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @environment_types.each do |environment_type| %>
    <tr>
      <td><%= link_to environment_type.name, environment_type %></td>
      <td><%= environment_type.description %></td>
      <td><%= link_to 'Edit', edit_environment_type_path(environment_type), :class => 'btn btn-mini' %></td>
      <td><%= link_to 'Destroy', environment_type, method: :delete, data: { confirm: 'Are you sure?' },
          :class => 'btn btn-mini btn-danger' %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br />

<%#= link_to 'New Environment type', new_environment_type_path %>
