<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h1>Manage Setting</h1>
<%= link_to "Manage Categories", categories_path %><br />
<%= link_to "Manage Retailers", retailers_path %><br />
<%= link_to "Manage Sectors", sectors_path %><br />
<%= link_to "Manage channels", channels_path %><br />
<%= link_to "Manage countries", countries_path %><br />
<%= link_to "Manage Store Formats", store_formats_path %><br />
<%= link_to "Manage Media Types", media_types_path %><br />
<%= link_to "Manage Media Locations", media_locations_path %><br />
<%= link_to "Manage Media Vehicles", media_vehicles_path %><br />
