<%= simple_form_for @audit, :html => { :multipart => true } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :retailer,:include_blank => false %>
    <%= f.association :store, :include_blank => false, :input_html => { :id => 'dd_store_id' } %>
    <%#= f.grouped_collection_select :store_id, Retailer.order(:name), :stores, :name, :id, :name, 
        :include_blank => false %>
    <%= f.association :channel, :include_blank => false %>
    <%= f.association :environment_type, :include_blank => false %>
    
    
    <%= f.fields_for :photos do |photo_fields| %>
      <% if photo_fields.object.new_record? %>
        <p>
          <%= photo_fields.file_field :photo %>
        </p>
      <% end %>
    <% end %>

    <h4>Images</h4>

    <%= f.fields_for :photos do |photo_fields| %>      
      <% unless photo_fields.object.new_record? %>
        <div class="thumb">
          <%= link_to image_tag(photo_fields.object.photo.url(:thumb)), photo_fields.object.photo.url(:original) %>
          <%= photo_fields.association :brand, :include_blank => false %>
          <%= photo_fields.association :category, :include_blank => false %>
          <%= photo_fields.association :media_location, :include_blank => false %>
          <%= photo_fields.association :media_vehicle, :include_blank => false %>
          <%= photo_fields.association :media_type, :include_blank => false %>
          <%= photo_fields.association :promotion_type, :include_blank => false %>
          <%= photo_fields.association :promotion_calendar, :include_blank => false %>
          <%= photo_fields.check_box :_destroy %>     
        </div>  
      <% end %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>