  <h2>Upload file</h2>
  <%# @audit = Audit.find(1793) %>
  <%= simple_form_for @audit, :validate => true, :html => { :multipart => true } do |f| %>
  <%#= form_for Upload.new, :html => { :multipart => true, :id => "fileupload"  } do |f| %>
    <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->

    <fieldset>
      <% unless params[:retailer].present?  %>
        <%= f.label "Retailer" %>
        <% if @audit.new_record? %>
          <%= select_tag "audit_retailer_id", options_from_collection_for_select(
          Retailer.all, "id", "name"), {:prompt => 'Please Select' }%>
        <% else  %>
          <%= select_tag "audit_retailer_id", options_from_collection_for_select(@retailers, "id", "name",  @audit.store.retailer.id ), 
              :validate => { :presence => true } %>
        <% end %>

      <% else  %>  
        <% retailer = Retailer.find_by_name(params[:retailer])  %>
      <% end %>
    </fieldset>
  
    <fieldset>
      <div class="audits_store_dropdown">
        <% unless @audit.new_record? %>
          Stores<br />
          <%= select_tag 'audit[store_id]', options_from_collection_for_select(Store.order(:name), "id", "name",  @audit.store.id(&:id) ), {:prompt => 'Please Select'} %>
        <% end %>
      </div>
    </fieldset>

    <% unless params[:store].present?  %>
      <fieldset>
        <%= link_to "add new store", new_store_path, :class => "add-store" %>
      </fieldset>  
        
    <% else %>
      <% store = Store.find_by_name(params[:store]) %>
      <strong>Retailer:</strong>
      <%= store.retailer.name unless store.retailer_id.nil? %><br />
      <strong>Retail Sector: </strong>
      <%= store.retailer.sector.name %><br />
      <%= f.input :store_id, :as => :hidden, :input_html => {:value => store.id} %>
      <strong>Store Name:</strong>
      <%= store.name %><br />
      <%= store.address %>, 
      <%= store.address2 %>, <%= store.postcode %>,
    <% end %>  
      
    <% unless @audit.new_record? %>
      <%#= @audit.store.country.name unless @audit.store.country_id.nil? %>
    <% else %>
      <%= store.country.name unless store.nil? or store.country_id.blank? %><br />
      
      <% unless store.nil? or store.store_format_id.nil? %>
        <strong>Store Format:</strong> <%= store.store_format.name %>
      <% end %>
    <% end %>
    
    <div id="store-info"></div>

    <fieldset>
      <%= f.input :reference, :input_label => "test" %> 
    </fieldset>
    <fieldset>
      <%= f.input :created_at, :as => :string, :label => 'Date of Audit',
        :input_html => {:class => 'audit-created-date'} %>
    </fieldset>

      <div class="form-actions">
        <% if params[:id] %>
          <%= f.button :submit, "Save", :class=>"btn btn-primary" %>
        <% else %>
        <%= f.button :submit, "Next", :class=>"btn btn-primary" %>
        <% end %>
        <%#= link_to 'Cancel', audits_path %>
      </div>
  <% end %>
