<%= simple_form_for @audit, :html => { :multipart => true } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <p>
    <% unless params[:retailer].present?  %>
      <%= f.label "Retailer" %>
      
      <% if @audit.new_record? %>
        <%= select_tag "audit_retailer_id", options_from_collection_for_select(@retailers, "id", "name"), {:prompt => 'Please Select'} %>
      <% else  %>
        <%= select_tag "audit_retailer_id", options_from_collection_for_select(@retailers, "id", "name",  @audit.store.retailer.id ) %>
      <% end %>
    <% else  %>  
      
      <% retailer = Retailer.find_by_name(params[:retailer])  %>

      
      <%#= f.label "Retailer" %>
      <!--strong>Retailer</strong-->
      <%#= retailer.name %>
    <% end  %>
    
   
  <div class="audits_retailer_dropdown">
  </div>
  <div class="audits_store_dropdown">
  </div>
   <% unless params[:store].present?  %>
      <%= f.label "Store" %>
      <%= f.grouped_collection_select :store_id, Retailer.order(:name), :stores, :name, :id, :name, 
      include_blank: true %>
      <%= link_to "add new store", new_store_path, :class => "add-store" %>
    <% else %>
      <% store = Store.find_by_name(params[:store]) %>
      <strong>Retailer:</strong>
      <%= store.retailer.name unless store.retailer_id.nil? %><br />
      <strong>Sector:</strong>
      <%= store.retailer.sector.name %><br />
      <%= f.input :store_id, :as => :hidden, :input_html => {:value => store.id} %>
      <strong>Store Name:</strong>
      <%= store.name %><br />
    </p>
    <p>
      <strong>Address:</strong><br />
      <%= store.address %><br />
      <%= store.address2 %>, <%= store.postcode %>
      <br />
    <% end %>  
    
    <% unless @audit.new_record? %>
  
      <%#= @audit.store.country.name unless @audit.store.country_id.nil? %>
    </p>
    <% else %>
      <%= store.country.name unless store.nil? or store.country_id.nil? %><br />
      
    </p>
    <strong>Store Format:</strong>
      <%= store.store_format.name unless store.nil? or store.store_format_id.nil? %>
      <br />
    <% end %>
    <div id="store-info">
      
    </div>
    <fieldset>
      <%= f.association :channel, :include_blank => false %>
    </fieldset>
    <fieldset>
      <%= f.association :environment_type, :include_blank => false %>
    </fieldset>
    <fieldset>
      <%= f.input :reference %> 
    </fieldset>
    <fieldset>
      <%= f.input :created_at, :as => :string, :label => 'Date',
        :input_html => {:class => 'audit-created-date'} %>
    </fieldset>
    <fieldset>
      <%= f.fields_for :photos do |photo_fields| %>
      <% if photo_fields.object.new_record? %>
          <%= render "file_upload", :photos => photo_fields %>  
      <% end %>
    <% end %>
    </fieldset>
    
    
    <%#= link_to "Add Image Upload", "#", class: "add_field" %>

    <section style="clear:both;overflow:hidden;">
    <%= f.fields_for :photos do |photo_fields| %>      
      <% unless photo_fields.object.new_record? %>
        
        <div class="thumb" style="border-top: 1px solid #ddd;overflow:hidden;padding: 20px 0;">
          <div class="span2">
            <%#= link_to image_tag(photo_fields.object.photo.url(:small)), photo_fields.object.photo.url(:original) %>
            <%= image_tag(photo_fields.object.photo.url(:medium)) %>
          </div>
          <div class="span6">  

            <label>Filename</label>
            <%= photo_fields.text_field :photo_file_name %>
            <label>Headline</label>
            <%= photo_fields.text_field :headline %>
            <label>Date Created</label>
            <%= photo_fields.text_field :created_at, :class=>"created_at"%>
            <%#= photo_fields.association :brand, :include_blank => false, :input_html => { :class=> 'audit_brands' } %>
            <%= photo_fields.association :brands, :input_html => { :class=> 'chosen-brand' } %>
            
            <label>Brand Owners</label>
            <%= photo_fields.text_field :additional_brands %><br />
            <%#= photo_fields.association :category, :include_blank => false, :input_html => { :class=> 'audit_categories' } %>
            <%#= photo_fields.collection_select :category_id, Category.order(:name), :id, :name, 
            { }, {multiple: true, :include_blank => false } %>
            <%#= photo_fields.input :category_id, :collection => Category.order(:name), :input_html => { multiple: true } %>
            <%= photo_fields.association :categories, :input_html => { :class=> 'chosen-category' } %>
            
            <%#= photo_fields.text_field :category_id, :class => 'category-tokenss'  
                  %>
            <%= photo_fields.association :media_locations, :input_html => { :class=> 'chosen-media-local' } %>
            <%= photo_fields.association :media_vehicles, :input_html => { :class=> 'chosen-media-vehic' } %>      
            <%= photo_fields.association :media_types, :input_html => { :class=> 'chosen-media-type' } %>
            <%= photo_fields.association :promotion_types, :input_html => { :class=> 'chosen-promo-type' } %>            
            
            <%= photo_fields.association :promotion_calendar, {:include_blank => "None"} %>
            <%= photo_fields.association :themes, :input_html => { :class=> 'chosen-theme' } %>
            
            <label>Description</label>
            <%= photo_fields.text_field :description, :as => :text %>
            <%= photo_fields.input :insight %>
            <%= photo_fields.input :role_of_comm, inline_label: 'Role of Communication' %>
            <%= photo_fields.input :perspective, inline_label: 'Shopper Perspective' %>
            
            <%= photo_fields.input_field :brand_compliant, :as => :boolean, inline_label: 'Brand Compliant' %>   
            <%= photo_fields.input_field :display_for_project, :as => :boolean, inline_label: 'Only display for project' %>   
            <%= photo_fields.input_field :published, :as => :boolean, inline_label: 'Publish' %>
            <%= photo_fields.input_field :data_complete, :as => :boolean, inline_label: 'Data Complete' %>   
            <%= photo_fields.input_field :_destroy, :as => :boolean, inline_label: 'Destroy' %>   
            
          </div>
        </div>  
      <% end %>
    <% end %>

    </section>
  </div>

    <div class="form-actions">
      <% if params[:id] %>
        <%= f.button :submit, "Save", :class=>"btn btn-primary" %>
      <% else %>
      <%= f.button :submit, "Next", :class=>"btn btn-primary" %>
      <% end %>
      <%#= link_to 'Cancel', audits_path %>
    </div>

<% end %>
