<div class="page-header">
  <h1>Listing audits</h1>
</div>
<div class="action">
  <%= link_to 'New Audit', new_audit_path, :class=>"btn btn-primary pull-right" %>
</div>  
  
<table class="table table-striped" id="tbl-audits">
  <thead>
    <tr>    
      <th>Reference</th>
      <th>Store</th>
      <th>Username</th>
      <th>Date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @audits.each do |audit| %>
      <tr>
        <td><%= audit.reference %></td>
        <td><%= audit.store.name %></td>
        <td><%= audit.user.username %></td>
        <td><%= audit.audit_date %></td>
        <td>
          <%# if (current_user == audit.user) %>
            <%= link_to 'Details', audit_path(audit) %>
          <% #end %>  
        </td>  
        <td>
          <% #if (current_user == audit.user) %>
            <%= link_to 'Edit', edit_audit_path(audit) %>
          <% #end %>  
        </td>
        <td>
          <% #if (current_user == audit.user) %>
            <%= link_to 'Destroy', audit, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% #end %>
        </td>  
      </tr>
    <% end %>
  </tbody>
</table>