<div class="span9">
  <div class="page-header">
    <h1>Listing audits</h1>
  </div>
  <%= link_to 'New Audit', new_audit_path, :class=>"btn btn-primary pull-right" %>
  <table class="table table-striped">
    <thead>
    <tr>    
      <th>Retailer</th>
      <th>Store</th>
      <th>Channel</th>
      <th>Environment type</th>
      <th>photos(count)</th>
      <th>uploaded by</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>

  <% @audits.each do |audit| %>
    <tr>
      <td><%= link_to audit.store.retailer.name, audit unless audit.store.retailer_id.nil?%></td>
      <td><%= audit.store.name %></td>
      <td><%= audit.channel.name %></td>
      <td><%= audit.environment_type.name %></td>
      <td><%= audit.photos.count %></td>
      <td><%= audit.user.email %></td>
      
      <td><%= link_to 'Edit', edit_audit_path(audit) %></td>
      <td><%= link_to 'Destroy', audit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    

  <% end %>

  </table>

</div>