<div class="page-header">
  <h1>Listing audits</h1>
</div>
<div class="action">
  <%= link_to 'New Audit', new_audit_path, :class=>"btn btn-primary pull-right" %>
</div>  
  
<table class="table table-striped" id="tbl-audits">
  <thead>
    <tr>    
      <th>Reference</th>
      <th>Store</th>
      <!-- <th>Channel</th>
      <th>Environment type</th> -->
      <th>uploaded by</th>
      <th>Date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @audits.each do |audit| %>
      <tr>
        <td><%= audit.reference %></td>
        <td><%= audit.store.name %></td>
        <!-- <td><%#= audit.channel.name %></td>
        <td><%#= audit.environment_type.name %></td> -->
        <td><%= audit.user.username %></td>
        <td><%= audit.audit_date %></td>
        <td><%= link_to 'Details', audit_path(audit) %></td>      
        <td><%= link_to 'Edit', edit_audit_path(audit) %></td>
        <td><%= link_to 'Destroy', audit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>