<!-- <p id="notice"><%= notice %></p> -->
<p>
  <%= link_to 'Edit', edit_audit_path(@audit) %>
</p>
<p>
  <strong>Reference:</strong>
  <%= @audit.reference %>
</p>

<p>
  <strong>Uploaded by:</strong>
  <%= @audit.user.username unless @audit.user.username.nil?%>
</p>
<p>
  <strong>Date of Audit:</strong>
  <%= @audit.created_at %>
</p>
<p>
  <strong>Retailer:</strong>
  <%= @audit.store.retailer.name %>
</p>
<p>
  <strong>Store:</strong>
  <%= @audit.store.name %>
</p>
<!-- <p>
  <strong>Environment type:</strong>
  <%#= @audit.environment_type.name %>
</p>
<p>
  <strong>Channel:</strong>
  <%#= @audit.channel.name %>
</p> -->
  <table class="table table-striped">
    <thead>
    <tr>    
      <th>Image</th>
      <th>Categories</th>
      <th>Audit Date</th>
    </tr>
    </thead>
    <% @audit.photos.each do |photo| %>
      <tr>
      	<td><%= link_to image_tag(photo.photo.url(:small)), photo %></td>
      	<td><%= photo.categories.map(&:name).join(",") %></td>
      	<td><%= @audit.created_at %></td>
        <td><%= link_to "Edit", edit_photo_path(photo) %></td>
      </tr>
    <% end %>    
</table>


<%#= link_to 'Back', audits_path %>
