<p id="notice"><%= notice %></p>

<p>
  <b>Store:</b>
  <%= @audit.store.name %>
</p>

<p>
  <b>Environment type:</b>
  <%= @audit.environment_type.name %>
</p>

<p>
  <b>Channel:</b>
  <%= @audit.channel.name %>
</p>

<p>
  <b>Retailer:</b>
  <%= @audit.retailer.name %>
</p>
<% @audit.photos.each do |photo| %>
 <%= link_to image_tag(photo.photo.url(:thumb)), photo.photo.url(:originals)  %>
<% end %>  

<%= link_to 'Edit', edit_audit_path(@audit) %> |
<%= link_to 'Back', audits_path %>
