<div class="page-header">
  <h1>Projects</h1>
</div>

<div class="action">
    <%= link_to new_project_path, :class => 'btn btn-primary btn-icon glyphicons circle_plus pull-right' do %>
    <i></i>
    <span>New Project</span>
    <% end %>
  </div>  
    
  
  <table id="tbl-projects" class="table table-striped">

    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
      <th></th>
    </tr>

  <% @projects.each do |project| %>
    <tr>
      <td><%= project.name %></td>
      <td><%= project.description %></td>
      <%#= link_to 'Details', project_path(project) %>
      <td><%= link_to 'Edit', edit_project_path(project), :class => 'btn btn-mini' %></td>
      <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger'  %></td>
    </tr>
  <% end %>
  </table>