<head>
  <title><%= content_for?(:title) ? yield(:title) : "Snapshot World Wide, a new intelligence tool" %></title>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0">
  
  <%= stylesheet_link_tag "reset", "application","sign_in" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
  <%= yield(:head) %>
</head>