
<header id="header" class="site-header" role="banner">

	<div class="navbar" role="navigation">
	  <div class="navbar-inner">

	    
			<a href="/" class="brand" title="Snapshot Worldwide" rel="Home">
				<img class="logo" src="<%= asset_path 'SNAPSHOT_logo.png' %>" alt="Snapshot Worldwide">
			</a>


			<% if user_signed_in? %>
				<ul class="nav pull-right">
					<!--
					<li>
						<a>Hi <%= current_user.username  %>!</a>
						<a>Hi <%= current_user.email  %></a> 
					</li>
					-->

					<li>
		        <%= link_to "My Account", edit_user_registration_path %>
		      </li>

				
					<% if admin_or_uploader? %>
						<li>
				      <%= link_to "Admin", admin_path %>
				    </li>
				  <% end %>
					<li>
						<!-- <%= current_user.email  %> -->
						<%= link_to "Logout (#{current_user.username})", destroy_user_session_path %>
					</li>				
				</ul>
			<% end %>
	  </div>
	</div>
</header>
