<section class="photo_views_view">

  <div id="photo-details">
    <div class="left">
      <figure>
        <%= image_tag(@photo.photo.url(:large)) %><br />
      </figure>  
      <br />
      <section class="photo-store-info">
        <strong>Store: </strong>
        <% if @photo.audit.store %>
          <%= link_to @photo.audit.store.name, store_path(@photo.audit.store) %> - 
          <%= @photo.audit.store.store_format.name %>
          <br>
          <% unless @photo.audit.store.address.blank? %>
            <strong>Address: </strong><%= @photo.audit.store.address %>, 
          <% end %>
          <% unless @photo.audit.store.address2.blank? %>  
            <%= @photo.audit.store.address2 %>,
          <% end %>      
          <% unless @photo.audit.store.address3.blank? %>
            <%= @photo.audit.store.address3 %>,
          <% end %>
          <% unless @photo.audit.store.town.blank? %>
            <%= @photo.audit.store.town %>,
          <% end %>
          <% if @photo.audit.store.country_id.present?  %>
            <%= @photo.audit.store.country.name %><br />
          <% end %>  
          <strong>Environment Type: </strong> 
          <%= @photo.audit.store.environment_type.name unless @photo.audit.store.environment_type.nil? %><br /> 
          
          <strong>Channel: </strong> 
          <%= @photo.audit.store.channel.name unless @photo.audit.store.channel.nil? %><br /> 

          <strong>Retail Sector: </strong>
          <%= @photo.audit.store.retailer.sector.name %><br />
          <strong>Retailer: </strong> 
          <%= @photo.audit.store.retailer.name %><br /> 
        <% else %>  
          <strong>Store Not Found..</strong>
          <%= link_to "Edit", edit_audit_path(@photo.audit) %>
        <% end %>
      </section>
    </div>

    <div class="right">
      <%= simple_form_for(@photo) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <label><strong>Audit Id: </strong>
            <%= link_to @photo.audit_id, audit_path(@photo.audit) %>
            <br />
          </label>
          <%= f.hidden_field "audit_id", :value=> @photo.audit.id %>

          <label>
            <strong>Date of Audit: </strong>
            <%= @photo.audit.audit_date %>
          </label>
          <label> 
            <strong>Uploaded by: </strong>
            <%= @photo.audit.user.username unless @photo.audit.user.username.nil? %>
          </label>
          <br>
          <%= f.input :headline %>
          <div class="brands-owners-actions">
            <%= render 'photos/shared/photos_brand_owners_dropdown', :f => f, :collection => @photo %>
          </div>
          <div class="brands-actions">
            <%#= render 'brands/shared/photos_brands_dropdown', :f => f, :collection => @photo %>
            <%= f.association :brands, collection: Brand.all(order: 'name'),
                :include_blank => false, :input_html => { :class=> 'chosen-brand' } %>
          </div>
          
          <label>Product Categories</label>
          <%= f.association :categories, collection: Category.all(order: 'name'), 
            :input_html => { :class=> 'chosen-category' }, :label => false  %>
          <%= f.association :media_locations, collection: MediaLocation.all(order: 'name'), 
            :input_html => { :class=> 'chosen-media-local' } %>
          <div class="mv-actions">
            <%#= f.association :media_vehicles, :input_html => { :class=> 'chosen-media-vehic' } %>
            <%= render 'media_vehicles/shared/photo_mv_dropdown', :f => f, :collection => @photo %>
          </div>
          <%= f.association :media_types, collection: MediaType.all(order: 'name'), :input_html => { :class=> 'chosen-media-type' } %>
          <%= f.association :themes, collection: Theme.all(order: 'name'), :input_html => { :class=> 'chosen-theme' } %>
          <%= f.association :promotion_types, collection: PromotionType.all(order: 'name'), :input_html => { :class=> 'chosen-promo-type' } %>
          <%= f.association :promotion_calendar, collection: PromotionCalendar.all(order: 'name'), 
              :input_html => { :class=> 'chosen-promo-cal' } %>
          <%= f.input :display_for_project, inline_label: 'Display for project', label: false %>
          <%#= f.input :brand_compliant, inline_label: 'Brand Compliant', label: false %>
          <%= f.input :published, inline_label: 'Publish', label: false %>
          <%= f.input :data_complete, inline_label: 'Data Complete', label: false %>
          <%= f.input :insight %>
          <%= f.input :role_of_comm %>
          <%= f.input :perspective %>
          <%= f.input :description %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, :class => 'btn btn-primary' %>
          <% unless params[:audit_id] %>
            <%= link_to 'Cancel', @photo, :class => 'btn' %>
          <% else %>  
            <%= link_to 'Cancel', audit_path(@photo.audit), :class => 'btn' %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>  
</section>