<section class="photo_views_view">
  <!-- <div class="page-header">
    <button type="button" class="close">×</button>
    <h1 id="myModalLabel"><%= @photo.photo_file_name %></h1>
  </div> -->
  <div id="photo-details">
    <div class="left">
      <%= image_tag(@photo.photo.url(:large)) %><br />
      <br />
      <section class="photo-store-info">
        <strong>Retailer: </strong> 
        <%= @photo.audit.store.retailer.name %><br /> 
        <strong>Sector: </strong>
        <%= @photo.audit.store.retailer.sector.name %><br />
        <strong>Store: </strong>
        <%= @photo.audit.store.name %><br />
        <% unless @photo.audit.store.address.blank? %>
          <strong>Address: </strong><%= @photo.audit.store.address %>, <%= @photo.audit.store.address2 %>, <%= @photo.audit.store.country.name unless @photo.audit.store.country_id.nil? %>
        <% end %>

      </section>

    </div>
    <div class="right">
      <%= simple_form_for(@photo) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <label>Audit Id: 
            <%= link_to @photo.audit_id, audit_path(@photo.audit) %><br />
          </label>

          <label> User:
            <%= @photo.audit.user.email %>
          </label>
          <label>Date Created:
          <%= @photo.created_at %>
          </label>
          <%= f.input :headline %>
          <%= f.association :brands, :input_html => { :class=> 'chosen-brand' } %>
          <%= f.association :categories, :input_html => { :class=> 'chosen-category' } %>
          <%= f.association :media_locations, :input_html => { :class=> 'chosen-media-local' } %>
          <%= f.association :media_vehicles, :input_html => { :class=> 'chosen-media-vehic' } %>
          <%= f.association :media_types, :input_html => { :class=> 'chosen-media-type' } %>
          <%= f.association :themes, :input_html => { :class=> 'chosen-theme' } %>
          <%= f.association :promotion_types, :input_html => { :class=> 'chosen-promo-type' } %>
            <%= f.association :promotion_calendar, :input_html => { :class=> 'chosen-promo-cal' } %>
          <%= f.input :display_for_project %>
          <%= f.input :brand_compliant %>
          <%= f.input :published %>
          <%= f.input :data_complete %>
          <%= f.input :insight %>
          <%= f.input :role_of_comm %>
          <%= f.input :perspective %>
          <%= f.input :description %>
        </div>

        <div class="form-actions">
          <%= f.button :submit %>
          <%= link_to 'Cancel', @photo %>
        </div>
      <% end %>
    </div>
  </div>  
</section>