<div class="page-controls action">

  <!-- <div class="sort-control">
    <label for="sort_by" class="sort-control-label">Sort by:</label>
    <select class="sort_select" id="sort_by" name="sort_by">
      <option selected="selected">Date latest first</option>
      <option>Date latest last</option>
      <option>Retailer A-Z</option>
      <option>Retailer Z-A</option>
      <option>Brand A-Z</option>
      <option>Brand Z-A</option>
    </select>
  </div> -->
  <div class="length-control">
    <label for="length" class="sort-control-label">Show:</label>
    <%= select_tag :length, options_for_select([20,30,50], params[:per_page]) %>
  </div>
  
  <div class="layout-switcher sort-control">
    <a href="#" class="icon-list layout-list">List</a>
    <a href="#" class="icon-th layout-grid">Grid</a>
  </div>

  <ul style="margin-top: 8px;">
    <li>
      <a href="#" id="checkAll">Select All</a> |
    </li>
    <li>
      <a href="#" id="uncheckAll">Deselect All</a> | 
    </li>
    <li>
      <%= link_to "Export Zip", download_url, :id => 'export-zip'%> |
    </li>
    <li>
      <%= link_to "Export PDF", "/photos/generate_pdf.pdf", :id => 'export-pdf' %> |
    </li>
    <li class="reviews">
      <%= link_to "Filter selected", "#", :id => 'reviews'%>
      <a href="#" id="show-all" style="display:none;">Show All</a>
      <%#= link_to "Show All", "#", :id => 'show-all', %>
    </li>
  </ul>
</div>

<div class="page-controls">  
  <%= page_entries_info @photos %>
  <%= will_paginate @photos, :next_label => 'Next', :previous_label => 'Prev', :params => {:search => params_search} %>    
</div>

<% unless @photos.nil? %>    
  <ul class="photos-viewer">
    <% @photos.each do |photo| %>
      <li>
        <div class="thumb">
          <%= link_to image_tag(photo.photo.url(:medium)), photo, remote: true %>
        </div>
        <section>
          <%= check_box_tag "photo_ids[]", photo.id %>
          <div class="retailer">
            <%= photo.audit.store.retailer.name %>
          </div>  
          <div class="brand">
            <%= photo.brands.map(&:name).join(",") %>
          </div>  
          <div class="date">
            <%= photo.created_at.strftime('%d/%m/%Y') %>
          </div>
          <div class="address">
            <%= photo.audit.store.address2 %>
          </div>
        </section>
        <%#= photo.audit.store.country.name unless photo.audit.store.country.nil? %>
        <%#= photo.audit.store.retailer.sector.name unless photo.audit.store.retailer.sector_id.nil? %>

      </li>
    <% end %>
  </ul>
<% end %>
<div class="page-controls">  
  <a href="#" class="go-top pull-right">Top</a>
  <%#= page_entries_info @photos %>
  <%#= will_paginate @photos, :next_label => 'Next', :previous_label => 'Prev', :params => {:search => params_search} %>    
</div>
  