<div id="pageControls" class="mod mod-page-controls">

  <div class="page-filters">


    <div class="filter-items">
      
      <b class="filter-label">Show:</b>

      <%= select_tag :length , options_for_select([30,60,90], params[:per_page] ), :class => 'input-mini items-to-display' %>
    </div><!-- /.filter-items -->

    <div class="filter-layout">

      <b class="filter-label">View:</b>

      <a href="#" id="viewGrid" data-layout="grid" class="layout-type selected" title="Grid View"><i class="icon-white icon-th"></i></a>

      <a href="#" id="viewList" data-layout="list" class="layout-type" title="List View"><i class="icon-white icon-list"></i></a>

      <a href="#" id="viewMap" data-layout="map" class="layout-type" title="Map View"><i class="icon-white icon-map-marker"></i></a>
      
    </div><!-- /.filter-layout -->

  </div><!-- /.page-filters -->

  <div class="page-actions">

    <ul>

      <li><a href="#" id="checkAll" data-select-all="false">Select All</a></li>
      
      <li><%= link_to "Export Zip", download_url, :id => 'export-zip'%></li>
      
      <li><%= link_to "Export PDF", "/photos/generate_pdf.pdf", :id => 'export-pdf', :target => '_blank' %></li>

      <li class="reviews">
        <%= link_to "Filter selected", "#", :id => 'reviews', :'data-filtered' => 'show' %>
      </li>
    </ul>
    
  </div><!-- /.page-actions -->


</div><!-- /.mod-page-controls -->






<div class="page-controls">  
  <%= page_entries_info @photos %>
</div>

<% unless @photos.nil? %>    

<div class="page-controls">  
  <!-- <a href="#" class="go-top pull-right">Top</a> -->
  <%#= page_entries_info @photos %>
  <div class="will-page">
    <%= will_paginate @photos, :next_label => 'Next', :previous_label => 'Prev', :link_separator => '',
    :params => {:search => params_search} %>    
  </div>
  
</div>

  <ul id="photos-viewer" class="photos-viewer row-fluid">
    
    <% @photos.each do |photo| %>
      <% unless photo.audit.nil? %>
        <li>
          <div class="viewer-inner">
            <figure class="thumb">
            

              <%#= link_to image_tag(photo.photo.url(:medium)), photo, remote: true %>
              <%= link_to photo, remote: true  do %>

                <%#= image_tag("snapshot_loading.gif" , :class => 'lazy', :"data-original" => "#{photo.photo.url(:medium)}", :width => '213', :height => '160' )  %>
                <i class="tick"></i>
                <i class="expand"></i>
                <%= image_tag( photo.photo.url(:medium) ) %>

              <% end %>

            </figure>

            <%#= label_tag "photo_ids[#{photo.id}]" do %>
            <section class="thumb-content">
              

              <div class="meta">

                <div class="meta-inner">

                  <div class="meta-set retailer">
                    <b class="meta-label">Retailer:</b>
                    <b class="meta-data"><%= photo.audit.store.retailer.name unless photo.audit.store.nil? %></b>
                  </div>  

                  <div class="meta-set date">
                    <b class="meta-label">Store:</b>
                    <b class="meta-data"><%= photo.audit.store.name %></b>
                  </div>

                  <div class="meta-set brand">
                    <b class="meta-label">Brand:</b>
                    <b class="meta-data" data-trigger="hover" data-placement="top" data-toggle="tooltip" title="Brand: <%= photo.brands.map(&:name).join(", ") %>"><%= photo.brands.map(&:name).join(", ") %></b>
                  </div>  

                  <div class="meta-set date">
                    <b class="meta-label">Date:</b>
                    <b class="meta-data"><%= photo.audit.audit_date %></b>
                  </div>

                  <!-- <div class="meta-set address">
                    <b class="meta-label">Address:</b>
                    <b class="meta-data"><%#= photo.audit.store.address2 unless photo.audit.store.nil? %></b>
                  </div> -->

                </div><!-- /.meta-inner -->

              </div><!-- /.meta -->

              <%= check_box_tag "photo_ids[#{photo.id}]", photo.id %>

              <% #end %>
                

            </section><!-- /.thumb-content -->


          <%#= photo.audit.store.country.name unless photo.audit.store.country.nil? %>
          <%#= photo.audit.store.retailer.sector.name unless photo.audit.store.retailer.sector_id.nil? %>
          </div>
        </li>
       <% end %> 
    <% end %>
  </ul>
<% end %>


<div class="page-controls">  
  <!-- <a href="#" class="go-top pull-right">Top</a> -->
  <%#= page_entries_info @photos %>
  <div class="will-page">
    <%= will_paginate @photos, :next_label => 'Next', :previous_label => 'Prev', :link_separator => '',
    :params => {:search => params_search} %>    
  </div>
  
</div>
  