<h3><%= store.name %></h3>
<div class="window">
	<p>
				<% if store.address.present? %>
          <%= store.address %>,
        <% end %>
        <% if store.address.present? %>
          <%= store.address2 %>,
        <% end %>
        <% if store.address3.present? %>
          <%= store.address3 %><br />
        <% end %>
        <% if store.town.present? %>
          <%= store.town %>
        <% end %>
        <% if store.postcode.present? %>
          <%= store.postcode %>,
        <% end %>
		
		<%#= store.country.name unless store.country_id.nil? %>

	 </p>
	<input type="hidden" id="hidden_store" value="<%= store.id %>">
	<!-- <p>
		<%#= store.retailer.sector.name unless store.retailer.nil? && store.retailer.sector_id.nil? %>
	</p> -->
	<p>
		<% count = 0 %>
		<% store.photos.published.each do |sp| %>	
			<% if @photos.include?(sp) %>
				<% count += 1 %>
			<% end %>	
		<% end %>
		<%= count %> photos

		<% if !current_user.role?(:deny_download) %>
			<% #if store.photos.published.count > 0 %>
			<% if count > 0 %>
				<%= link_to "Download Photos", all_store_photos_path(store.id),
					:id => 'map-store-download',
					:class => 'pull-right' %><br />
			<% end %>
		<% end %>	
		<%= link_to "Go to the Store page", "#"	, :id => 'store-view', :class => 'btn btn-primary pull-right' %><br />
	</p>
</div>