<h3><%= store.name %></h3>
<div class="window">
	<p>
		<%= store.address %>,
		<%= store.address2 %>, <%= store.postcode %>
		<%#= store.country.name unless store.country_id.nil? %>

	 </p>
	<input type="hidden" id="hidden" value="<%= store.id %>">
	<p>
		<%= store.retailer.sector.name unless store.retailer.sector_id.nil? %>
	</p>
	<p>
		<%= store.photos.count %> photos.
		<%= link_to "Download Photos", all_store_photos_path(store.id)	, :id => 'map-store-download', :class => 'pull-right' %><br />
		<%= link_to "Go to the Store page", "#"	, :id => 'store-view', :class => 'btn btn-primary pull-right' %><br />
	</p>
</div>