<h3><%= store.name %></h3>
<p>
	<%= store.address %><br />
	<%= store.address2 %><br />
	<%= store.postcode %>

 </p>
<input type="hidden" id="hidden" value="<%= store.id %>">
<p>
	<%= store.retailer.sector.name unless store.retailer.sector_id.nil? %>
</p>
<p>
	<%= store.photos.count %> photos.
	<%#= link_to "Go to the Store page", "stores/show_store_with_categories"	, :id => 'store-view', remote: true, :class => 'pull-right' %>
	<%= link_to "Go to the Store page", "#"	, :id => 'store-view', :class => 'pull-right' %>
</p>

<%#= link_to "View Details", store_view_url(store.id), :id => 'store-view', remote: true %>