<h3><%= store.name %></h3>
<p>
	<%= store.address %><br />
	<%= store.address2 %><br />
	<%= store.postcode %>
 </p>
<p>
	<%= store.retailer.sector.name unless store.retailer.sector_id.nil? %>
</p>
<p>
	<%= store.photos.count %> photos. 
	<%= link_to "Go to the Store page", store, :id => 'store-view', remote: true %>
</p>

<%#= link_to "View Details", store_view_url(store.id), :id => 'store-view', remote: true %>