
<div id="loader_cont" style="display: none;">
  <img src="/assets/loading_red.gif">
</div>
<table id="photo-list" class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Photo</th>
      <th>Retailer/Brand</th>
      <th>Date</th>
      <th>Location</th>
      <th>Sector</th>
      <th>Category</th>
    </tr>
  </thead>
    
  <tbody>
  <% unless @photos.nil? %>    
    <% @photos.each do |photo| %>
      <tr>
          <td>
            <%= check_box_tag "photo_ids[]", photo.id %>
          </td>
          <td>
              <%#= link_to image_tag(photo.photo.url(:thumb)), photo.photo.url(:originals)  %>
              <%= link_to image_tag(photo.photo.url(:thumb)), photo, remote: true, "data-toggle" => "modal" %>
          </td>
          <td>
            <%= photo.audit.store.retailer.name %><br />
            <%  photo.brands.each do |brand| %>
              <%= brand.name %>
            <% end %>
          </td>
          <td>  
              <%= photo.created_at.strftime('%d/%m/%Y') %>
          </td>
          <td>
            <%= photo.audit.store.country.name %>
          </td>
          <td>
              <%= photo.audit.store.retailer.sector.name %>
          </td>
          <td>    
              <% photo.categories.each do |cat| %>
                <%=  cat.name %>
              <% end  %>
          </td>
          
          
              <%# unless photo.promotion_calendar_id.nil? %>
                <!--strong>Promotion Calendar:</strong> <%#= photo.promotion_calendar.name %><br />
              <% #end %>
              <% #unless photo.promotion_type_id.nil? %>
                <strong>Promotion Type:</strong> <%#= photo.promotion_type.name %><br />
              <% #end %>
            -->
              <%#= link_to "Details", photo %>
          
              
              <%#= link_to 'Show', photo %>
              <%#= link_to 'Edit', edit_photo_path(photo) %>
              <%#= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
  <%#= link_to 'New Photo', new_photo_path %>
