
<table id="photo-list" class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Photo</th>
      <th>Date</th>
      <th>Category</th>
      <th>Store</th>
      <th>Details</th>
    </tr>
  </thead>
    
  <tbody>
  <% unless @photos.nil? %>    
    <% @photos.each do |photo| %>
      <tr>
          <td>
            <%= check_box_tag "photo_ids[]", photo.id %>
          </td>
          <td>
              <%#= link_to image_tag(photo.photo.url(:thumb)), photo.photo.url(:originals)  %>
              <%= link_to image_tag(photo.photo.url(:thumb)), photo  %>
          </td>
          <td>  
              <%= photo.created_at.strftime('%d/%m/%Y') %>
          </td>
          <td>    
              <%= photo.category.name %>
          </td>
          <td>
              <%= photo.audit.store.name %>
          </td>
          <td>
              <%# unless photo.promotion_calendar_id.nil? %>
                <!--strong>Promotion Calendar:</strong> <%#= photo.promotion_calendar.name %><br />
              <% #end %>
              <% #unless photo.promotion_type_id.nil? %>
                <strong>Promotion Type:</strong> <%#= photo.promotion_type.name %><br />
              <% #end %>
            -->
              <%= link_to "Details", photo %>
          </td>
              
              <%#= link_to 'Show', photo %>
              <%#= link_to 'Edit', edit_photo_path(photo) %>
              <%#= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
  <%#= link_to 'New Photo', new_photo_path %>