<h4>Filter by</h4>  
    
<%= form_tag root_path, :id=>"search_form", remote: true do %>
  <fieldset>
    <%= label_tag "Postcode" %>
    <% if params[:search] && params[:search][:postcode] && params[:search][:postcode] %>
      <%= text_field_tag 'search[post-code]', params[:search][:postcode] %>
    <% else %>
      <%#= text_field_tag 'search[postcode]'%>
      <%= text_field_tag 'search[post-codes]', '', :autocomplete => photo_autocomplete_store_postcode_path %>
    <% end %>
    <%#= hidden_field_tag params[:search] %>
  </fieldset>
  
  <fieldset>
    <%= label_tag "Country" %>
    <% if params[:search] && params[:search][:country_id] && params[:search][:country_id] %>
      <%= collection_select(:search, :country_id, @countries, :id, :name, {:selected => params[:search][:country_id]}) %>
    <% else %>
      <%= collection_select(:search, :country_id, @countries, :id, :name, { :prompt => 'All' }) %>
      <%#= collection_select(:search, :country_id, @countries, :id, :name) %>
    <% end %>  

  </fieldset>

  <!--fieldset>
    <%= label_tag "Location" %>
    <% if params[:search] && params[:search][:location_id] && params[:search][:location_id] %>
      <%= grouped_collection_select(:search, :location_id, @countries, :locations, :name, :id, :name) %>
    <% else %>
      <%#= collection_select(:search, :location_id, Location.find(:all), :id, :name, { :prompt => 'All' }) %>
      <%= grouped_collection_select(:search, :location_id, @countries, :locations, :name, :id, :name,  
            { :prompt => 'All' }) %>
    
    <% end %>
  </fieldset-->

  <div class="accordion" id="accordion2">

    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#categories">
          Categories
        </a>
      </div>
      <div id="categories" class="accordion-body collapse">
        <div class="accordion-inner">
          <% for category in @categories %>
            <% if params[:search] && params[:search][:category] && params[:search][:category].include?(category.id.to_s) %>
              <%= check_box_tag "search[category][]", category.id, :check => "checked" %>
            <% else %>
              <%= check_box_tag "search[category][]", category.id %>
            <% end %>
            <%= category.name %><br />
          <% end %>
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#channel">
          Channels
        </a>
      </div>
      <div id="channel" class="accordion-body collapse">
        <div class="accordion-inner">
          <% for channel in @channels %>
            <% if params[:search] && params[:search][:channel] && params[:search][:channel].include?(channel.id.to_s) %>
              <%= check_box_tag "search[channel][]", channel.id, :check => "checked" %>
            <% else %>
              <%= check_box_tag "search[channel][]", channel.id %>
            <% end %>
            <%= channel.name %><br />
          <% end %>
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#sector-accord">
          Sectors
        </a>
      </div>
      <div id="sector-accord" class="accordion-body collapse">
        <div class="accordion-inner">
          <% for sector in @sectors %>
            <% if params[:search] && params[:search][:sectors] && params[:search][:sectors].include?(sector.id.to_s) %>
              <%= check_box_tag "search[sectors][]", sector.id, :check => "checked"  %>
            <% else %>  
              <%= check_box_tag "search[sectors][]", sector.id %>
            <% end %>  
            <%= sector.name %><br />
          <% end %>  
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#retailers-accord">
          Retailers
        </a>
      </div>
      <div id="retailers-accord" class="accordion-body collapse">
        <div class="accordion-inner">
          
          <%= render :partial => 'retailer_view', :locals => {:retailers => @retailers}%>
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#promo_cal">
          Promotion Calendars
        </a>
      </div>
      <div id="promo_cal" class="accordion-body collapse">
        <div class="accordion-inner">
          <% for promo_calendar in @promo_calendars %>
            <% if params[:search] && params[:search][:promo_cal] && params[:search][:promo_cal].include?(promo_calendar.id.to_s) %>
              <%= check_box_tag "search[promo_cal][]", promo_calendar.id, :check => "checked"  %>
            <% else %>  
              <%= check_box_tag "search[promo_cal][]", promo_calendar.id %>
            <% end %>  
            <%= promo_calendar.name %><br />
          <% end %>  
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#promo_type">
          Promotion Types
        </a>
      </div>
      <div id="promo_type" class="accordion-body collapse">
        <div class="accordion-inner">
          <% for promo_type in @promo_types %>
            <% if params[:search] && params[:search][:promo_type] && params[:search][:promo_type].include?(promo_type.id.to_s) %>
              <%= check_box_tag "search[promo_type][]", promo_type.id, :check => "checked"  %>
            <% else %>  
              <%= check_box_tag "search[promo_type][]", promo_type.id %>
            <% end %>  
            <%= promo_type.name %><br />
          <% end %>  
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#media_type">
          Media Types
        </a>
      </div>
      <div id="media_type" class="accordion-body collapse">
        <div class="accordion-inner">
          <% for media_type in @media_types %>
            <% if params[:search] && params[:search][:media_type] && params[:search][:media_type].include?(media_type.id.to_s) %>
              <%= check_box_tag "search[media_type][]", media_type.id, :check => "checked"  %>
            <% else %>  
              <%= check_box_tag "search[media_type][]", media_type.id %>
            <% end %>  
            <%= media_type.name %><br />
          <% end %>  
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#brands">
          Brands
        </a>
      </div>
      <div id="brands" class="accordion-body collapse">
        <div class="accordion-inner">
          <% for brand in @brands %>
            <% if params[:search] && params[:search][:brand] && params[:search][:brand].include?(brand.id.to_s) %>
              <%= check_box_tag "search[brand][]", brand.id, :check => "checked"  %>
            <% else %>  
              <%= check_box_tag "search[brand][]", brand.id %>
            <% end %>  
            <%= brand.name %><br />
          <% end %>  
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#media_vehicle">
          Media Vehicles
        </a>
      </div>
      <div id="media_vehicle" class="accordion-body collapse">
        <div class="accordion-inner">
          <% for media_vehicle in @media_vehicles %>
            <% if params[:search] && params[:search][:media_v] && params[:search][:media_v].include?(media_vehicle.id.to_s) %>
              <%= check_box_tag "search[media_v][]", media_vehicle.id, :check => "checked"  %>
            <% else %>  
              <%= check_box_tag "search[media_v][]", media_vehicle.id %>
            <% end %>  
            <%= media_vehicle.name %><br />
          <% end %>  
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#media_location">
          Media Locations
        </a>
      </div>
      <div id="media_location" class="accordion-body collapse">
        <div class="accordion-inner">
          <% for media_location in @media_locations %>
            <% if params[:search] && params[:search][:media_loc] && params[:search][:media_loc].include?(media_location.id.to_s) %>
              <%= check_box_tag "search[media_loc][]", media_location.id, :check => "checked"  %>
            <% else %>  
              <%= check_box_tag "search[media_loc][]", media_location.id %>
            <% end %>  
            <%= media_location.name %><br />
          <% end %>  
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#themes">
          Themes
        </a>
      </div>
      <div id="themes" class="accordion-body collapse">
        <div class="accordion-inner">
          <% for theme in @themes %>
            <% if params[:search] && params[:search][:theme] && params[:search][:theme].include?(theme.id.to_s) %>
              <%= check_box_tag "search[theme][]", theme.id, :check => "checked"  %>
            <% else %>  
              <%= check_box_tag "search[theme][]", theme.id %>
            <% end %>  
            <%= theme.name %><br />
          <% end %>  
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#env_type">
          Environment Types
        </a>
      </div>
      <div id="env_type" class="accordion-body collapse">
        <div class="accordion-inner">
          <% for env_type in @env_types %>
            <% if params[:search] && params[:search][:env_type] && params[:search][:env_type].include?(env_type.id.to_s) %>
              <%= check_box_tag "search[env_type][]", env_type.id, :check => "checked"  %>
            <% else %>  
              <%= check_box_tag "search[env_type][]", env_type.id %>
            <% end %>  
            <%= env_type.name %><br />
          <% end %>  
        </div>
      </div>
  </div>
</div>
    <h3>Dates</h3>
    <fieldset>
      <%= label_tag "From" %>
      <% if params[:search] && params[:search][:fromDate] && params[:search][:fromDate] %>
        <%= text_field_tag "search[fromDate]", params[:search][:fromDate] %>  
      <% else %>
        <%= text_field_tag "search[fromDate]" %>
      <% end %>
    </fieldset>
    <fieldset>
      <%= label_tag "To" %>
      <% if params[:search] && params[:search][:toDate] && params[:search][:toDate] %>
        <%= text_field_tag "search[toDate]", params[:search][:toDate] %>  
      <% else %>
        <%= text_field_tag "search[toDate]" %>
      <% end %>  
    </fieldset>
    <fieldset>  
      <%= submit_tag "Search", :name => nil, :class=> 'btn btn-success' %>
      <a href="#" class="btn clear-form">Clear</a>
    </fieldset>
<% end %>
<%#= link_to "Submit", root_path(params[:search]) %>
