<section class="photo_views_view">
  
  <div class="page-header">
    <button type="button" class="close">×</button>
    <h1 id="myModalLabel"><%= @photo.photo_file_name %></h1>
  </div>
  
  <div id="photo-details">
    
    <div class="left">
      <%= image_tag(@photo.photo.url(:large)) %>
      <%= link_to 'Download Pdf', photo_path(:format => "pdf"), :class => "", :target => "_blank" %>
    </div>
    
    <div class="right">
      <section class="photo-info">
        <h3>Store</h3>
        <ul>
          <li><%= @photo.audit.store.name %></li>
          <li><%= @photo.audit.store.address %>, <%= @photo.audit.store.address2 %>, 
              <%= @photo.audit.store.country.name unless @photo.audit.store.country_id.nil? %></li>
          <li>
            Store Format:<%= @photo.audit.store.store_format.name %>
          </li>
          <li>Retailer:
            <%= @photo.audit.store.retailer.name %>
          </li>
          <li>
            Sector: <%= @photo.audit.store.retailer.sector.name %>
          </li>
        </ul>
      </section>

      <section class="photo-info-details">
        <h3>Photo Data</h3>
        <ul>
          <li>
            Headline: <%= @photo.headline %>
          </li>
          <li>Brands: 
            <%= @photo.brands.map(&:name).join(",") %>
          </li>
          <li>
            Additional Brands:
            <%= @photo.additional_brands %>
          </li>
          <li>
            Date: 
            <%= @photo.created_at %>
          </li> 
          <li>
            Category:
            <%= @photo.categories.map(&:name).join(",") %>
          </li>
          <li>Media Locations:
            <%= @photo.media_locations.map(&:name).join(",") %>
          </li>
          <li>Media Types:
            <%= @photo.media_types.map(&:name).join(",") %>
          </li>
          <li>Media Vehicle:
            <%= @photo.media_vehicles.map(&:name).join(",") %>
          </li>
          <li>
            Promotion Calendar:
            <%= @photo.promotion_calendar.name if @photo.promotion_calendar %>
          </li>
          <li>
            Promotion Type:
            <%= @photo.promotion_types.map(&:name).join(",") %>
          </li>
          <li>
            Themes:
            <%= @photo.themes.map(&:name).join(",") %>
          </li>
          <li>Descriptions:
            <%= @photo.description %>
          </li>
      </ul>
      </section>

    </div>
      <%#= link_to 'back', :back, :id=>'back' %>
      
      <%#= link_to 'Edit', edit_photo_path(@photo) %>
      <%#= link_to 'Back', photos_path %>

  </div>
</section>