
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel"><%= @photo.brand.name %></h3>
  </div>
  <div class="modal-body">
    
      <table style="width:100%;">
        <tr>
          <td valign="top">
            <%= image_tag(@photo.photo.url(:large)) %><br />
          </td>
          <td>
            <table class="table table-striped">
              <tr>
                <td>Brand</td>
                <td><%= @photo.brand.name %></td>
              </tr>
              <tr>
                <td>Additional Brands</td>
                <td><%= @photo.additional_brands %></td>
              </tr>
              <tr>
                <td>Date</td>
                <td><%= @photo.created_at %></td>
              </tr>
              <tr>
                <td>File Size</td>
                <td><%= number_to_human_size(@photo.photo_file_size, :precision => 2)  %></td>
              </tr>
              <tr>
                <td>File Name</td>
                <td><%= @photo.photo_file_name  %></td>
              </tr>
              <tr>
                <td>Store</td>
                <td><%= link_to @photo.audit.store.name, store_path(@photo.audit.store) %></td>
              </tr>
              <tr>
                <td>Category</td>
                <td><%= @photo.category.name %></td>
              </tr>
              <tr>
                <td>Store Format</td>
                <td><%= @photo.audit.store.store_format.name %></td>
              </tr>
              <tr>
                <td>Retailer</td>
                <td><%= @photo.audit.retailer.name %></td>
              </tr>
              <tr>
                <td>Media location</td>
                <td><%= @photo.media_location.name %></td>
              </tr>
              <tr>
                <td>Media vehicle</td>
                <td><%= @photo.media_vehicle.name %></td>
              </tr>
              <tr>
                <td>Media type</td>
                <td><%= @photo.media_type.name %></td>
              </tr>
              <tr>
                <td>Sector</td>
                <td><%= @photo.audit.store.retailer.sector.name %></td>
              </tr>
              <tr>
                <td>Environment type:</td>
                <td><%= @photo.audit.environment_type.name %></td>
              </tr>
              <tr>
                <td>Promotion Calendar:</td>
                <td><%= @photo.promotion_calendar.name if @photo.promotion_calendar %></td>
              </tr>
              <tr>
                <td>Promotion type:</td>
                <td><%= @photo.promotion_type.name if @photo.promotion_type %></td>
              </tr>
              <tr>
                <td>Country</td>
                <td><%= @photo.audit.store.country.name %></td>
              </tr>
              <tr>
                <td>Description</td>
                <td><%= @photo.description %></td>
              </tr>
            </table>
          </td>

        
      </table>
      <%#= link_to 'back', :back, :id=>'back' %>
      
      <%#= link_to 'Edit', edit_photo_path(@photo) %>
      <%#= link_to 'Back', photos_path %>

  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <%= link_to 'Download Pdf', photo_path(:format => "pdf"), :class => "btn btn-primary", :target => "_blank" %>
  </div>

