<section class="photo_views_view">
  
  <div class="page-header">
    <button type="button" class="close">×</button>
    <h1 id="myModalLabel"><%= @photo.photo_file_name %></h1>
  </div>
  
  <div id="photo-details">
    
    <div class="left">
      <%= image_tag(@photo.photo.url(:large)) %>
      <%= link_to 'Download Pdf', photo_path(:format => "pdf"), :class => "", :target => "_blank" %>
    </div>
    
    <div class="right">
      <section class="photo-info">
        <h3>Store</h3>
        <ul>
          <li><%= @photo.audit.store.name %></li>
          
          <li>
            <% if @photo.audit.store.address.present? %>
              <%= @photo.audit.store.address %>, 
            <% end %>
            <% if @photo.audit.store.address2.present? %>  
              <%= @photo.audit.store.address2 %>, 
            <% end %>  
            <% if @photo.audit.store.address3.present? %>  
              <%= @photo.audit.store.address3 %>, 
            <% end %>  
            <% if @photo.audit.store.address.present? %>  
              <%= @photo.audit.store.town %>, 
            <% end %>
              <%= @photo.audit.store.country.name unless @photo.audit.store.country_id.nil? %>
          </li>
          
          <li>
            <strong>Store Format:</strong>
            <%= @photo.audit.store.store_format.name %>
          </li>
          <li>
            <strong>Audit Date: </strong>
            <%= @photo.audit.created_at %>
          </li> 
          <li>
            <strong>Retailer:</strong>
            <%= @photo.audit.store.retailer.name %>
          </li>
          <li>
            <strong>Retail Sector: </strong>
            <%= @photo.audit.store.retailer.sector.name %>
          </li>
        </ul>
      </section>

      <section class="photo-info-details">
        <h3>Photo Data</h3>
        <ul>
          <% if @photo.headline.present? %>
            <li>
              <strong>Headline: </strong>
              <%= @photo.headline %>
            </li>
          <% end %>
          <% if @photo.brands.present?  %>
            
            <li>
              <strong>Brands: </strong>
              <%= @photo.brands.map(&:name).join(",") %>
            </li>
            <li>
              <strong>Brand Owners: </strong>
              <%# @photo.brands.each do |b| %>
                <%#= b.brand_owner.name if b.brand_owner_id.present? %>
              <%# end %>
              <%= @photo.brands.first.brand_owner.name %>
            </li>

          <% end %>  
          <% if @photo.additional_brands.present? %>
            <li>
              <strong>Additional Brands:</strong>
              <%= @photo.additional_brands %>
            </li>
          <% end %>
          <% if @photo.categories.present? %>
            <li>
              <strong>Product Category:</strong>
              <%= @photo.categories.map(&:name).join(",") %>
            </li>
          <% end %>
          <% if @photo.media_locations.present? %>
            <li>
              <strong>Media Locations:</strong>
              <%= @photo.media_locations.map(&:name).join(",") %>
            </li>
          <% end %>  
          <% if @photo.media_types.present? %>
            <li>
              <strong>Media Types:</strong>
              <%= @photo.media_types.map(&:name).join(",") %>
            </li>
          <% end %>
          <% if @photo.media_vehicles.present? %>
            <li>
              <strong>Media Vehicle:</strong>
              <%= @photo.media_vehicles.map(&:name).join(",") %>
            </li>
          <% end %>
          <% if @photo.promotion_calendar.present? %>
            <li>
              <strong>Promotion Calendar:</strong>
              <%= @photo.promotion_calendar.name if @photo.promotion_calendar %>
            </li>
          <% end %>  
          <% if @photo.promotion_types.present? %>
            <li>
              <strong>Promotion Type:</strong>
              <%= @photo.promotion_types.map(&:name).join(",") %>
            </li>
          <% end %>  
          <% if @photo.themes.present? %>
            <li>
              <strong>Themes:</strong>
              <%= @photo.themes.map(&:name).join(",") %>
            </li>
          <% end %>
          <% if @photo.description.present? %>
            <li>
              <strong>Descriptions:</strong>
              <%= @photo.description %>
            </li>
          <% end %>
      </ul>
      </section>

    </div>
      <%#= link_to 'back', :back, :id=>'back' %>
      <%#= link_to 'Edit', edit_photo_path(@photo) %>
      <%#= link_to 'Back', photos_path %>
  </div>
</section>