<section class="photo_views_view">
  
  <div class="page-header">
    <button type="button" class="close">×</button>
    <h1 id="myModalLabel"><%= @photo.photo_file_name %></h1>
  </div>
  
  <div id="photo-details">
    
    <div class="left">
      <%= image_tag(@photo.photo.url(:large)) %>
      <%= link_to 'Download Pdf', photo_path(:format => "pdf"), :class => "", :target => "_blank" %>
    </div>
    
    <div class="right">
      <section class="photo-info">
        <h3>Store</h3>
        <ul>
          <li><%= @photo.audit.store.name %></li>
          <li>
              <%= @photo.audit.store.address %>, <%= @photo.audit.store.address2 %>, 
              <%= @photo.audit.store.country.name unless @photo.audit.store.country_id.nil? %>
          </li>
          <li>
            <strong>Store Format:</strong>
            <%= @photo.audit.store.store_format.name %>
          </li>
          <li>
            <strong>Retailer:</strong>
            <%= @photo.audit.store.retailer.name %>
          </li>
          <li>
            <strong>Retail Sector: </strong>
            <%= @photo.audit.store.retailer.sector.name %>
          </li>
        </ul>
      </section>

      <section class="photo-info-details">
        <h3>Photo Data</h3>
        <ul>
          <li>
            <strong>Headline: </strong>
            <%= @photo.headline %>
          </li>
          <li>
            <strong>Brands: </strong>
            <%= @photo.brands.map(&:name).join(",") %>
          </li>
          <li>
            <strong>Brand Owners: </strong>
            <% @photo.brands.each do |b| %>
              <%= b.brand_owner.name if b.brand_owner_id.present? %>
            <% end %>
          </li>
          <li>
            <strong>Additional Brands:</strong>
            <%= @photo.additional_brands %>
          </li>
          <li>
            <strong>Date: </strong>
            <%= @photo.created_at %>
          </li> 
          <li>
            <strong>Product Category:</strong>
            <%= @photo.categories.map(&:name).join(",") %>
          </li>
          <li>
            <strong>Media Locations:</strong>
            <%= @photo.media_locations.map(&:name).join(",") %>
          </li>
          <li>
            <strong>Media Types:</strong>
            <%= @photo.media_types.map(&:name).join(",") %>
          </li>
          <li>
            <strong>Media Vehicle:</strong>
            <%= @photo.media_vehicles.map(&:name).join(",") %>
          </li>
          <li>
            <strong>Promotion Calendar:</strong>
            <%= @photo.promotion_calendar.name if @photo.promotion_calendar %>
          </li>
          <li>
            <strong>Promotion Type:</strong>
            <%= @photo.promotion_types.map(&:name).join(",") %>
          </li>
          <li>
            <strong>Themes:</strong>
            <%= @photo.themes.map(&:name).join(",") %>
          </li>
          <li>
            <strong>Descriptions:</strong>
            <%= @photo.description %>
          </li>
      </ul>
      </section>

    </div>
      <%#= link_to 'back', :back, :id=>'back' %>
      <%#= link_to 'Edit', edit_photo_path(@photo) %>
      <%#= link_to 'Back', photos_path %>
  </div>
</section>