<div class="span4">
  <aside>
    <h4>Filter by</h4>  
    <%= @test %>
    <%#= params[:search][:fromDate] unless params.nil? %><br />
    
    <%= form_tag root_path do %>
      <fieldset>
        <%= label_tag "Postcode" %>
        <%= text_field_tag 'search[postcode]' %>
        <%#= hidden_field_tag params[:search] %>
      </fieldset>
      
      <!-- 
        NEED TO CHECK USER PERMISSION THAT WHICH COUNTRY USER ALLOW TO SEARCH
      -->
      <fieldset>
        <%= label_tag "Country" %>
        <%= collection_select(:search, :country_id, @countries, :id, :name, { :prompt => 'All' }) %>
        <%#= select_tag("country[id]", options_from_collection_for_select(@countries, "id", "name", params[:id].to_i ), { :prompt => 'All' }) %>
        
      </fieldset>

      <fieldset>
        <%= label_tag "Location" %>
        <%#= collection_select(:search, :location_id, Location.find(:all), :id, :name, { :prompt => 'All' }) %>
        <%= grouped_collection_select(:search, :location_id, @countries, :locations, :name, :id, :name,  
              { :prompt => 'All' }) %>
      </fieldset>

      <!-- * * * * * * *
        NEED TO CHECK USERS SUBSCRIPTION WHICH CATEGORY IS ALLOWD
      -->

      <div class="accordion" id="accordion2">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#categories">
              Categories
            </a>
          </div>
          <div id="categories" class="accordion-body collapse in">
            <div class="accordion-inner">
              <% for category in @categories %>
                <%= check_box_tag "search[category][id]", category.id %>
                <%= category.name %><br />
              <% end %>
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#retailer">
              Retailers
            </a>
          </div>
          <div id="retailer" class="accordion-body collapse">
            <div class="accordion-inner">
              <% for retailer in @retailers %>
                <%= check_box_tag "retailer[]", retailer.id %>
                <%= retailer.name %><br />
              <% end %>
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#sectors">
              Sectors
            </a>
          </div>
          <div id="sectors" class="accordion-body collapse">
            <div class="accordion-inner">
              <% for sector in @sectors %>
                <%= check_box_tag "sector[]", sector.id %>
                <%= sector.name %><br />
              <% end %>  
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#channels">
              Channels
            </a>
          </div>
          <div id="channels" class="accordion-body collapse">
            <div class="accordion-inner">
              <% for channel in @channels %>
                <%= check_box_tag "channel[]", channel.id %>
                <%= channel.name %><br />
              <% end %>
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#envtype">
              Environment Types
            </a>
          </div>
          <div id="envtype" class="accordion-body collapse">
            <div class="accordion-inner">
              <% for env_type in @environment_types %>
                <%= check_box_tag "env_type[]", env_type.id %>
                <%= env_type.name %><br />
              <% end %>
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#promo_cal">
              Promotion Calendar
            </a>
          </div>
          <div id="promo_cal" class="accordion-body collapse">
            <div class="accordion-inner">
              <% for promo_cal in @promo_calendar %>
                <%= check_box_tag "promo_cal[]", promo_cal.id %>
                <%= promo_cal.name %><br />
              <% end %>  
            </div>
          </div>
        </div>
      </div>

    
      <h3>Dates</h3>
      <fieldset>
        <%= label_tag "From" %>
        <%= text_field_tag "search[fromDate]" %>
      </fieldset>
      <fieldset>
        <%= label_tag "To" %>
      <%= text_field_tag "search[toDate]" %>
      </fieldset>
      
      <fieldset>  
        <%= submit_tag "Search", :name => nil, :class=> 'btn btn-success' %>
        <a href="#" class='btn'>Clear</a>
      </fieldset>
    <% end %>

  </aside>
</div><!-- span3 -->
<div class="span8">
    <%#= gmaps4rails(@json) %>
    
<h4><%= pluralize(@stores_in_country.count, 'store') %> found</h4>
<h4><%= pluralize(@photos.count, 'photo') %> found</h4>

<table id="photo-list" class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Photo</th>
      <th>Date</th>
      <th>Category</th>
      <th>Store</th>
      <th>Details</th>
    </tr>
  </thead>
    
  <tbody>
  <% unless @photos.nil? %>    
    <% @photos.each do |photo| %>
      <tr>
          <td>
            <%= check_box_tag photo.id %>
          </td>
          <td>
              <%#= link_to image_tag(photo.photo.url(:thumb)), photo.photo.url(:originals)  %>
              <%= link_to image_tag(photo.photo.url(:thumb)), photo  %>
          </td>
          <td>  
              <%= photo.created_at.strftime('%d/%m/%Y') %>
          </td>
          <td>    
              <%= photo.category.name %>
          </td>
          <td>
              <%= photo.audit.store.name %>
          </td>
          <td>
              <%# unless photo.promotion_calendar_id.nil? %>
                <!--strong>Promotion Calendar:</strong> <%#= photo.promotion_calendar.name %><br />
              <% #end %>
              <% #unless photo.promotion_type_id.nil? %>
                <strong>Promotion Type:</strong> <%#= photo.promotion_type.name %><br />
              <% #end %>
            -->
              <%= link_to "Details", photo %>
          </td>
              
              <%#= link_to 'Show', photo %>
              <%#= link_to 'Edit', edit_photo_path(photo) %>
              <%#= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
  <%#= link_to 'New Photo', new_photo_path %>

</div>
