
<aside class="span4">
  
  <%= render 'search_form' %>
  <%= render 'save_form' %>

</aside>

<div class="content span8">
  
	<h4><%= pluralize(@photos.count, 'photo') %> found</h4>
	<a href="#" id="checkAll">Select All</a> | <a href="#" id="uncheckAll">Deselect All</a> | 
	<%= link_to "Export", download_url(12)  %>

  <%= render 'list_view' %>   
  <div style="margin-top: 50px;"
	<div id="map_view">
  	<%= render 'map_view', :locals => {@json => @json} %>    
  </div>	
</div>
