
<aside id="sidebar" class="mod-sidebar span4">
  
  <%= render 'search_form' %>
  <%= render 'save_form' %>

</aside>

<div class="content span8">

  <ul class="nav nav-tabs">
    <li class="active"><a href="#map-view" data-toggle="tab">Map</a></li>
    <li><a href="#list-view" data-toggle="tab">List</a></li>
  </ul>  
  <div class="tab-content">
    <div class="tab-pane active" id="map-view">
      <%= render 'map_view' %>    
    </div>
    <div class="tab-pane" id="list-view">
      <% unless params[:search].nil? %>
        <!--h4><%#= pluralize(@photos.count, 'photo') %> found</h4-->
        <a href="#" id="checkAll">Select All</a> | <a href="#" id="uncheckAll">Deselect All</a> | 
        <%= link_to "Export", download_url(3861), :id => 'export', :method => 'post', remote: true  %>

        <%= render 'list_view' %>
      <% end  %>   
    </div>
  
  </div>
</div>  