<% content_for :head do %>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    
<% end %>          

<h1>Listing photos</h1>

<aside>

    <h3>Search by</h3>  
    <%= search_form_for @search do |f| %>
      <p>
        <%= f.label "Postcode" %>
        <%= f.text_field :media_location_id_cont %>
      </p>
      <p>  
        <h3>Channels</h3>
        <% for channel in @channels %>
          <%= check_box_tag "channel[]", channel.id %>
          <%= channel.name %><br />
        <% end %>
      </p>
      <p>  
        <h3>Channels</h3>
        <% for channel in @channels %>
          <%= check_box_tag "channel[]", channel.id %>
          <%= channel.name %><br />
        <% end %>
      </p>
      <p>
        <h3>Categories</h3>  
        <% for category in @categories %>
          <%= check_box_tag "category[]", category.id %>
          <%= category.name %><br />
        <% end %>
      </p>
      <p>  
        <%= f.submit "Search", :name => nil %>
      </p>
    <% end %>


    <h3>Audits(Users)</h3>
    <%= link_to "Audits", audits_path %><br />


    <h3>Manage Stores(Admin)</h3>
    <%= link_to "Manage Stores", stores_path %><br />

    <h3>Manage Setting(Admin)</h3>
    <%= link_to "Manage Categories", categories_path %><br />
    <%= link_to "Manage Retailers", retailers_path %><br />
    <%= link_to "Manage Sectors", sectors_path %><br />
    <%= link_to "Manage channels", channels_path %><br />
    <%= link_to "Manage countries", countries_path %><br />
    <%= link_to "Manage Store Formats", store_formats_path %><br />
    <%= link_to "Manage Media Types", media_types_path %><br />
    <%= link_to "Manage Media Locations", media_locations_path %><br />
    <%= link_to "Manage Media Vehicles", media_vehicles_path %><br />
    <%= link_to "Manage Promotion Calendars", promotion_calendars_path %><br />
    <%= link_to "Manage Promotion Types", promotion_types_path %><br />


</aside>
<div class="main">
    <%= gmaps4rails(@json) %>
<table>
    <thead>

    </thead>
    <tbody>
    <% @photos.each do |photo| %>
        <tr style="border-bottom: 1px solid #777; display:block;">
            <td>
              <%= check_box_tag photo.id %>
            </td>
            <td>
                <%= link_to image_tag(photo.photo.url(:thumb)), photo.photo.url(:originals)  %><br />
            </td>
            <td>  
                Brand: <%= photo.brand.name %><br />
                Date:  <%= photo.created_at %><br />
                Audit: <%= photo.audit.id %><br />
                Category: <%= photo.category.name %><br />
            </td>
            <td>
                Media location: <%= photo.media_location.name %><br />
                Media vehicle: <%= photo.media_vehicle.name %><br />
                Media type: <%= photo.media_type.name %><br />
                <strong>Store: <%= photo.audit.store.name %><br /></strong>
                <strong>Longitude: <%= photo.audit.store.longitude %><br /></strong>
                <strong>Latitude: <%= photo.audit.store.latitude %><br /></strong>
            </td>
            <td>
                <strong>Store: <%= photo.audit.store.store_format.name %><br /></strong>
                <strong>Retailer: <%= photo.audit.retailer.name %><br /></strong>
                <strong>Sector: <%= photo.audit.store.retailer.sector.name %><br /></strong>
                <strong>At Store: <%= photo.audit.environment_type.name %><br /></strong>
                Description: <%= photo.description %><br />
            </td>
            <td>    
                <%#= link_to 'Show', photo %>
                <%#= link_to 'Edit', edit_photo_path(photo) %>
                <%#= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %><br />
            </td>    
        </tr>

    <% end %>
    </tbody>
</table>



<%#= link_to 'New Photo', new_photo_path %>
</div>