<div class="span4">
  <aside>
    <%= @search_param %>
    <h4>Filter by</h4>  
    
    <%= form_tag root_path do %>
      <fieldset>
        <%= label_tag "Postcode" %>
        <%= text_field_tag 'search[postcode]' %>
        <%#= hidden_field_tag params[:search] %>
      </fieldset>
      
      <fieldset>
        <%= label_tag "Country" %>
        <% if params[:search] && params[:search][:country_id] && params[:search][:country_id].include?(@countries.to_s) %>
          <%#= collection_select(:search, :country_id, @countries, :id, :name, { :prompt => 'All' }, {:selected_value => @countries.first.id.to_s}) %>
        <% else %>
          <%= collection_select(:search, :country_id, @countries, :id, :name, { :prompt => 'All' }) %>
        <% end %>        
      </fieldset>

      <fieldset>
        <%= label_tag "Location" %>
        <%#= collection_select(:search, :location_id, Location.find(:all), :id, :name, { :prompt => 'All' }) %>
        <%= grouped_collection_select(:search, :location_id, @countries, :locations, :name, :id, :name,  
              { :prompt => 'All' }) %>
      </fieldset>

      <div class="accordion" id="accordion2">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#categories">
              Categories
            </a>
          </div>
          <div id="categories" class="accordion-body collapse in">
            <div class="accordion-inner">
              <% for category in @categories %>
                <% if params[:search] && params[:search][:category] && params[:search][:category].include?(category.id.to_s) %>
                  <%= check_box_tag "search[category][]", category.id, :check => "checked" %>
                <% else %>
                  <%= check_box_tag "search[category][]", category.id %>
                <% end %>
                <%= category.name %><br />
              <% end %>
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#retailer">
              Retailers
            </a>
          </div>
          <div id="retailer" class="accordion-body collapse">
            <div class="accordion-inner">
              <% for retailer in @retailers %>
                <% if params[:search] && params[:search][:retailer] && params[:search][:retailer].include?(retailer.id.to_s) %>
                  <%= check_box_tag "search[retailer][]", retailer.id, :check => "checked"  %>
                <% else %>
                  <%= check_box_tag "search[retailer][]", retailer.id %> 
                <% end %>  
                  <%= retailer.name %><br />
              <% end %>
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#sectors">
              Sectors
            </a>
          </div>
          <div id="sectors" class="accordion-body collapse">
            <div class="accordion-inner">
              <% for sector in @sectors %>
                <% if params[:search] && params[:search][:sector] && params[:search][:sector].include?(sector.id.to_s) %>
                  <%= check_box_tag "search[sector][]", sector.id, :check => "checked"  %>
                <% else %>  
                  <%= check_box_tag "search[sector][]", sector.id %>
                <% end %>
                <%= sector.name %><br />
              <% end %>  
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#channels">
              Channels
            </a>
          </div>
          <div id="channels" class="accordion-body collapse">
            <div class="accordion-inner">
              <% for channel in @channels %>
                <%= check_box_tag "search[channel][]", channel.id %>
                <%= channel.name %><br />
              <% end %>
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#envtype">
              Environment Types
            </a>
          </div>
          <div id="envtype" class="accordion-body collapse">
            <div class="accordion-inner">
              <% for env_type in @environment_types %>
                <%= check_box_tag "search[env_type][]", env_type.id %>
                <%= env_type.name %><br />
              <% end %>
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#promo_cal">
              Promotion Calendar
            </a>
          </div>
          <div id="promo_cal" class="accordion-body collapse in">
            <div class="accordion-inner">
              <% for promo_cal in @promo_calendar %>
                <% if params[:search] && params[:search][:promo_cal] && params[:search][:promo_cal].include?(promo_cal.id.to_s) %>
                  <%= check_box_tag "search[promo_cal][]", promo_cal.id, :check => "checked"  %>
                <% else %>  
                  <%= check_box_tag "search[promo_cal][]", promo_cal.id %>
                <% end %>  
                <%= promo_cal.name %><br />
              <% end %>  
            </div>
          </div>
        </div>
      </div>

      <h3>Dates</h3>
      <fieldset>
        <%= label_tag "From" %>
        <% if params[:search] && params[:search][:fromDate] && params[:search][:fromDate] %>
          <%= text_field_tag "search[fromDate]", params[:search][:fromDate] %>  
        <% else %>
          <%= text_field_tag "search[fromDate]" %>
        <% end %>
      </fieldset>
      <fieldset>
        <%= label_tag "To" %>
        <% if params[:search] && params[:search][:toDate] && params[:search][:toDate] %>
          <%= text_field_tag "search[toDate]", params[:search][:toDate] %>  
        <% else %>
          <%= text_field_tag "search[toDate]" %>
        <% end %>  
      </fieldset>
      <fieldset>  
        <%= submit_tag "Search", :name => nil, :class=> 'btn btn-success' %>
        <a href="#" class="btn clear-form">Clear</a>
      </fieldset>

    <% end %>
    <!-- save search form-->
    <h3>Save Searches</h3>
    <%= link_to "New", new_save_search_path, id: "new_link", :class => "btn btn-primary", remote: true %>

    <div id = "saved-list">
      <%= render @saved_searches unless current_user.save_searches.blank? %>
    </div> 
    <div id = "new-save">
      <%#= render @new_save_search %>
    </div>


    <!-- save search form -->
  </aside>
</div><!-- span3 -->
<div class="span8">
  <h4><%= pluralize(@stores_in_country.count, 'store') %> found</h4>
  <%= gmaps4rails(@json) %>
    <%#= gmaps("markers" => {"data" => @json},
     "map_options" => { 
     "auto_zoom" => false, "zoom" => 15, "center_on_user" => true
     "auto_adjust"=>false, "do_clustering"=>true }) %> 
    

<h4><%= pluralize(@photos.count, 'photo') %> found</h4>
<a href="#" id="checkAll">Select All</a> | <a href="#" id="uncheckAll">Deselect All</a> | 
<%= link_to "Export", download_url([9])  %>

<table id="photo-list" class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Photo</th>
      <th>Date</th>
      <th>Category</th>
      <th>Store</th>
      <th>Details</th>
    </tr>
  </thead>
    
  <tbody>
  <% unless @photos.nil? %>    
    <% @photos.each do |photo| %>
      <tr>
          <td>
            <%= check_box_tag "chk", photo.id %>
          </td>
          <td>
              <%#= link_to image_tag(photo.photo.url(:thumb)), photo.photo.url(:originals)  %>
              <%= link_to image_tag(photo.photo.url(:thumb)), photo  %>
          </td>
          <td>  
              <%= photo.created_at.strftime('%d/%m/%Y') %>
          </td>
          <td>    
              <%= photo.category.name %>
          </td>
          <td>
              <%= photo.audit.store.name %>
          </td>
          <td>
              <%# unless photo.promotion_calendar_id.nil? %>
                <!--strong>Promotion Calendar:</strong> <%#= photo.promotion_calendar.name %><br />
              <% #end %>
              <% #unless photo.promotion_type_id.nil? %>
                <strong>Promotion Type:</strong> <%#= photo.promotion_type.name %><br />
              <% #end %>
            -->
              <%= link_to "Details", photo %>
          </td>
              
              <%#= link_to 'Show', photo %>
              <%#= link_to 'Edit', edit_photo_path(photo) %>
              <%#= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
  <%#= link_to 'New Photo', new_photo_path %>

</div>
