<section class="photo_views_view">
  
  <div class="page-header">
    <h1 id="myModalLabel"><%= @photo.photo_file_name %></h1>
  </div>
  
  <div id="photo-details">
    
    <div class="left">
      <%= image_tag(@photo.photo.url(:large)) %>
      <p></p>
        <% if @photo.published == true %>
          <%#= link_to 'Un-publish', publish_multiple_photos_path(:photo_ids => @photo.id), :method => :put %>
        <% else %>  
          <%= link_to 'Publish', publish_individual_photos_path(:id => @photo.id), :method => :put, :class => "btn" %>
        <% end %> 
        <%= link_to 'Download Pdf', photo_path(:format => "pdf"), :class => "btn btn-primary", :target => "_blank" %>
        <%= link_to 'Edit', edit_photo_path, :class => "btn" %>
        <%= link_to 'Delete', @photo, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn" %>
      <%#= link_to 'Download Pdf', photo_path(:format => "pdf"), :class => "", :target => "_blank" %>
    </div>
    
    <div class="right">
      <section class="photo-info">
        <h3>Store</h3>
        <ul>
          <li><%= @photo.audit.store.name %></li>
          <li><%= @photo.audit.store.address %>, <%= @photo.audit.store.address2 %>, 
              <%= @photo.audit.store.country.name unless @photo.audit.store.country_id.nil? %></li>
          <li>
            Store Format:<%= @photo.audit.store.store_format.name %>
          </li>
          <li>Retailer:
            <%= @photo.audit.store.retailer.name %>
          </li>
          <li>
            Retail Sector: <%= @photo.audit.store.retailer.sector.name %>
          </li>
        </ul>
      </section>

      <section class="photo-info-details">
        <h3>Photo Data</h3>
        <ul>
          <% if @photo.headline.present? %>
            <li>
              <strong>Headline: </strong>
              <%= @photo.headline %>
            </li>
          <% end %>
          
          <% if @photo.brands.present?  %>
            
            <li>
              <strong>Brands: </strong>
              <%= @photo.brands.map(&:name).join(",") %>
            </li>
            <li>
              <strong>Brand Owners: </strong>
              <%# @photo.brands.each do |b| %>
                <%#= b.brand_owner.name if b.brand_owner_id.present? %>
              <%# end %>
              <%= @photo.brands.first.brand_owner.name if @photo.brands.first.brand_owner_id.present? %>
            </li>

          <% end %>  
          <% if @photo.additional_brands.present? %>
            <li>
              <strong>Additional Brands:</strong>
              <%= @photo.additional_brands %>
            </li>
          <% end %>
          <% if @photo.categories.present? %>
            <li>
              <strong>Product Category:</strong>
              <%= @photo.categories.map(&:name).join(",") %>
            </li>
          <% end %>
          <% if @photo.media_locations.present? %>
            <li>
              <strong>Media Locations:</strong>
              <%= @photo.media_locations.map(&:name).join(",") %>
            </li>
          <% end %>  
          <% if @photo.media_types.present? %>
            <li>
              <strong>Media Types:</strong>
              <%= @photo.media_types.map(&:name).join(",") %>
            </li>
          <% end %>
          <% if @photo.media_vehicles.present? %>
            <li>
              <strong>Media Vehicle:</strong>
              <%= @photo.media_vehicles.map(&:name).join(",") %>
            </li>
          <% end %>
          <% if @photo.promotion_calendar.present? %>
            <li>
              <strong>Promotion Calendar:</strong>
              <%= @photo.promotion_calendar.name if @photo.promotion_calendar %>
            </li>
          <% end %>  
          <% if @photo.promotion_types.present? %>
            <li>
              <strong>Promotion Type:</strong>
              <%= @photo.promotion_types.map(&:name).join(",") %>
            </li>
          <% end %>  
          <% if @photo.themes.present? %>
            <li>
              <strong>Themes:</strong>
              <%= @photo.themes.map(&:name).join(",") %>
            </li>
          <% end %>
          <% if @photo.description.present? %>
            <li>
              <strong>Descriptions:</strong>
              <%= @photo.description %>
            </li>
          <% end %>
      </ul>
    </div>
      <%#= link_to 'back', :back, :id=>'back' %>
      
      <%#= link_to 'Edit', edit_photo_path(@photo) %>
      <%#= link_to 'Back', photos_path %>

  </div>
  <!--div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    
  </div-->

</section>

