<section class="photo_views_view">
  
  <div class="page-header">
    <h1 id="myModalLabel"><%= @photo.photo_file_name %></h1>
  </div>
  
  <div id="photo-details">
    
    <div class="left">
      <%= image_tag(@photo.photo.url(:large)) %>
      <p></p>
        <% if @photo.published == true %>
          <%#= link_to 'Un-publish', publish_multiple_photos_path(:photo_ids => @photo.id), :method => :put %>
        <% else %>  
          <%= link_to 'Publish', publish_individual_photos_path(:id => @photo.id), :method => :put, :class => "btn" %>
        <% end %> 
        <%= link_to 'Download Pdf', photo_path(:format => "pdf"), :class => "btn btn-primary", :target => "_blank" %>
        <%= link_to 'Edit', edit_photo_path, :class => "btn" %>
        <%= link_to 'Delete', @photo, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn" %>
      <%#= link_to 'Download Pdf', photo_path(:format => "pdf"), :class => "", :target => "_blank" %>
    </div>
    
    <div class="right">
      <section class="photo-info">
        <h3>Store</h3>
        <ul>
          <li><%= @photo.audit.store.name %></li>
          <li><%= @photo.audit.store.address %>, <%= @photo.audit.store.address2 %>, 
              <%= @photo.audit.store.country.name unless @photo.audit.store.country_id.nil? %></li>
          <li>
            Store Format:<%= @photo.audit.store.store_format.name %>
          </li>
          <li>Retailer:
            <%= @photo.audit.store.retailer.name %>
          </li>
          <li>
            Retail Sector: <%= @photo.audit.store.retailer.sector.name %>
          </li>
        </ul>
      </section>

      <section class="photo-info-details">
        <h3>Photo Data</h3>
        <ul>
          <% if @photo.headline.present? %>
            <li>
              <strong>Headline: </strong>
              <%= @photo.headline %>
            </li>
          <% end %>
          
          <% if @photo.brands.present?  %>
            
            <li>
              <strong>Brands: </strong>
              <%= @photo.brands.map(&:name).join(",") %>
            </li>
            <li>
              <strong>Brand Owners: </strong>
              <%# @photo.brands.each do |b| %>
                <%#= b.brand_owner.name if b.brand_owner_id.present? %>
              <%# end %>
              <%= @photo.brands.first.brand_owner.name %>
            </li>

          <% end %>  
          <% if @photo.additional_brands.present? %>
            <li>
              <strong>Additional Brands:</strong>
              <%= @photo.additional_brands %>
            </li>
          <% end %>
          <% if @photo.categories.present? %>
            <li>
              <strong>Product Category:</strong>
              <%= @photo.categories.map(&:name).join(",") %>
            </li>
          <% end %>
          <% if @photo.media_locations.present? %>
            <li>
              <strong>Media Locations:</strong>
              <%= @photo.media_locations.map(&:name).join(",") %>
            </li>
          <% end %>  
          <% if @photo.media_types.present? %>
            <li>
              <strong>Media Types:</strong>
              <%= @photo.media_types.map(&:name).join(",") %>
            </li>
          <% end %>
          <% if @photo.media_vehicles.present? %>
            <li>
              <strong>Media Vehicle:</strong>
              <%= @photo.media_vehicles.map(&:name).join(",") %>
            </li>
          <% end %>
          <% if @photo.promotion_calendar.present? %>
            <li>
              <strong>Promotion Calendar:</strong>
              <%= @photo.promotion_calendar.name if @photo.promotion_calendar %>
            </li>
          <% end %>  
          <% if @photo.promotion_types.present? %>
            <li>
              <strong>Promotion Type:</strong>
              <%= @photo.promotion_types.map(&:name).join(",") %>
            </li>
          <% end %>  
          <% if @photo.themes.present? %>
            <li>
              <strong>Themes:</strong>
              <%= @photo.themes.map(&:name).join(",") %>
            </li>
          <% end %>
          <% if @photo.description.present? %>
            <li>
              <strong>Descriptions:</strong>
              <%= @photo.description %>
            </li>
          <% end %>
      </ul>
    </div>
      <%#= link_to 'back', :back, :id=>'back' %>
      
      <%#= link_to 'Edit', edit_photo_path(@photo) %>
      <%#= link_to 'Back', photos_path %>

  </div>
  <!--div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    
  </div-->

</section>




<!-- 
<div class="details">
  <%= image_tag(@photo.photo.url(:large))  %><br />
  <%= link_to 'Download Pdf', photo_path(:format => "pdf") %><br />
  <%= link_to 'Edit', edit_photo_path %><br />
  <% if @photo.published == true %>
    <%#= link_to 'Un-publish', publish_multiple_photos_path(:photo_ids => @photo.id), :method => :put %>
  <% else %>  
    <%= link_to 'Publish', publish_individual_photos_path(:id => @photo.id), :method => :put %>
  <% end %>  
  <br />
</div>

<div class="">
  <table class="table table-striped">
    <tr>
      <td>Headline</td>
      <td><%= @photo.headline %></td>
    </tr>
    <tr>
      <td>Brand</td>
      <td>
        <% @photo.brands.each do |brand| %>
          <%= brand.name %>
        <% end  %>
      </td>
    </tr>
    <tr>
      <td>Brand Owner</td>
      <td>
        <% @photo.brands.each do |brand| %>
          <%#= @photo.brand.brand_owner.name unless @photo.brand.brand_owner_id.nil? %>
            <%= brand.brand_owner.name unless brand.brand_owner_id.nil? %>
        <% end %>
      </td>    
    </tr>
    <tr>
      <td>Additional Brands</td>
      <td><%= @photo.additional_brands %></td>
    </tr>
    <tr>
      <td>Date</td>
      <td><%= @photo.created_at %></td>
    </tr>
    <tr>
      <td>File Size</td>
      <td><%= number_to_human_size(@photo.photo_file_size, :precision => 2)  %></td>
    </tr>
    <tr>
      <td>File Name</td>
      <td><%= @photo.photo_file_name  %></td>
    </tr>
    <tr>
      <td>Store</td>
      <td><%= link_to @photo.audit.store.name, store_path(@photo.audit.store) %></td>
    </tr>
    <tr>
      <td>Category</td>
      <td>
        <% @photo.categories.each do |cat|  %>
        <%= cat.name  %>
        <% end %>
      </td>  
    </tr>
    <tr>
      <td>Store Format</td>
      <td><%= @photo.audit.store.store_format.name %></td>
    </tr>
    <tr>
      <td>Retailer</td>
      <td><%= @photo.audit.store.retailer.name%></td>
    </tr>
    <tr>
      <td>Media location</td>
      <td>
        <% @photo.medialocations.each do |md|  %>
          <% md.media_location.name unless md.media_location_id.nil?  %>
        <% end %>
      </td>    
    </tr>
    <tr>
      <td>Media vehicle</td>
      <td>
        <% @photo.mediavehicles.each do |mv|  %>
          <%= mv.media_vehicle.name unless mv.media_vehicle_id.nil?  %>
        <% end %>
      </td>  
    </tr>
    <tr>
      <td>Media type</td>
      <td>
      <% @photo.mediatypes.each do |mt| %>
        <%= mt.media_type.name unless mt.media_type_id.nil? %>
      <% end %>
      </td>
    </tr>
    <tr>
      <td>Sector</td>
      <td><%= @photo.audit.store.retailer.sector.name %></td>
    </tr>
    <tr>
      <td>Environment type:</td>
      <td><%= @photo.audit.environment_type.name %></td>
    </tr>
    <tr>
      <td>Promotion Calendar:</td>
      <td><%= @photo.promotion_calendar.name unless @photo.promotion_calendar_id.nil?  %></td>
    </tr>
    <tr>
      <td>Promotion type:</td>
      <td>
        <% @photo.promotiontypes.each do |pt| %>
          <%= pt.promotion_type.name unless pt.promotion_type_id.nil? %>
        <% end %>
      </td>  
    </tr>
    <tr>
      <td>Country</td>
      <td><%= @photo.audit.store.country.name unless @photo.audit.store.country_id.nil? %></td>
    </tr>
    <tr>
      <td>Description</td>
      <td><%= @photo.description %></td>
    </tr>
  </table>
  
  <%= link_to 'back', :back %>
  <%#= link_to 'Edit', edit_photo_path(@photo) %>
  <%#= link_to 'Back', photos_path %>
</div>
 -->