
<div class="span6 details">
  <%= image_tag(@photo.photo.url(:large))  %><br />
  <%= link_to 'Download Pdf', photo_path(:format => "pdf") %><br />
  <%= link_to 'Edit', edit_photo_path %><br />
  <% if @photo.published == true %>
    <%#= link_to 'Un-publish', publish_multiple_photos_path(:photo_ids => @photo.id), :method => :put %>
  <% else %>  
    <%= link_to 'Publish', publish_individual_photos_path(:id => @photo.id), :method => :put %>
  <% end %>  
  <br />
</div>

<div class="span6">
  <table class="table table-striped">
    <tr>
      <td>Headline</td>
      <td><%= @photo.headline %></td>
    </tr>
    <tr>
      <td>Brand</td>
      <td>
        <% @photo.brands.each do |brand| %>
          <%= brand.name %>
        <% end  %>
      </td>
    </tr>
    <tr>
      <td>Brand Owner</td>
      <% @photo.brands.each do |brand| %>
        <td><%#= @photo.brand.brand_owner.name unless @photo.brand.brand_owner_id.nil? %>
          <%= brand.brand_owner.name unless brand.brand_owner_id.nil? %>
        </td>
      <% end %>  
    </tr>
    <tr>
      <td>Additional Brands</td>
      <td><%= @photo.additional_brands %></td>
    </tr>
    <tr>
      <td>Date</td>
      <td><%= @photo.created_at %></td>
    </tr>
    <tr>
      <td>File Size</td>
      <td><%= number_to_human_size(@photo.photo_file_size, :precision => 2)  %></td>
    </tr>
    <tr>
      <td>File Name</td>
      <td><%= @photo.photo_file_name  %></td>
    </tr>
    <tr>
      <td>Store</td>
      <td><%= link_to @photo.audit.store.name, store_path(@photo.audit.store) %></td>
    </tr>
    <tr>
      <td>Category</td>
      <% @photo.categories.each do |cat|  %>
      <td><%= cat.name  %></td>
      <% end %>
    </tr>
    <tr>
      <td>Store Format</td>
      <td><%= @photo.audit.store.store_format.name %></td>
    </tr>
    <tr>
      <td>Retailer</td>
      <td><%= @photo.audit.retailer.name%></td>
    </tr>
    <tr>
      <td>Media location</td>
      <% @photo.medialocations.each do |md|  %>
        <td><% md.media_location.name unless md.media_location_id.nil?  %></td>
      <% end %>  
    </tr>
    <tr>
      <td>Media vehicle</td>
      <% @photo.mediavehicles.each do |mv|  %>
      <td><%= mv.media_vehicle.name unless mv.media_vehicle_id.nil?  %></td>
      <% end %>
    </tr>
    <tr>
      <td>Media type</td>
      <% @photo.mediatypes.each do |mt| %>
      <td><%= mt.media_type.name unless mt.media_type_id.nil? %></td>
      <% end %>
    </tr>
    <tr>
      <td>Sector</td>
      <td><%= @photo.audit.store.retailer.sector.name %></td>
    </tr>
    <tr>
      <td>Environment type:</td>
      <td><%= @photo.audit.environment_type.name %></td>
    </tr>
    <tr>
      <td>Promotion Calendar:</td>
      <td><%= @photo.promotion_calendar.name unless @photo.promotion_calendar_id.nil? %></td>
    </tr>
    <tr>
      <td>Promotion type:</td>
      <% @photo.promotiontypes.each do |pt| %>
      <td><%= pt.promotion_type.name unless pt.promotion_type_id.nil? %></td>
      <% end %>
    </tr>
    <tr>
      <td>Country</td>
      <td><%= @photo.audit.store.country.name %></td>
    </tr>
    <tr>
      <td>Description</td>
      <td><%= @photo.description %></td>
    </tr>
  </table>
  
  <%= link_to 'back', :back %>
  <%#= link_to 'Edit', edit_photo_path(@photo) %>
  <%#= link_to 'Back', photos_path %>
</div>