<section class="photo_views_view">
  
  <div class="page-header">
    <h1 id="myModalLabel"><%= @photo.photo_file_name %></h1>
  </div>
  
  <div id="photo-details">
    
    <div class="left">
      <%= image_tag(@photo.photo.url(:large)) %>
      <p></p>
        <% if @photo.published == true %>
          <%#= link_to 'Un-publish', publish_multiple_photos_path(:photo_ids => @photo.id), :method => :put %>
        <% else %>  
          <%= link_to 'Publish', publish_individual_photos_path(:id => @photo.id), :method => :put, :class => "btn" %>
        <% end %> 
        <%= link_to 'Download Pdf', photo_path(:format => "pdf"), :class => "btn btn-primary", :target => "_blank" %>
        <% unless params[:audit_id] %>
          <%= link_to 'Edit', edit_photo_path, :class => "btn" %>
        <% else %>
          <%= link_to 'Edit', edit_audit_photo_path, :class => "btn" %>
        <% end %> 
        <%= link_to 'Delete', @photo, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn" %>
      <%#= link_to 'Download Pdf', photo_path(:format => "pdf"), :class => "", :target => "_blank" %>
    </div>
    
    <div class="right">
      <section class="photo-info">
        <h3>Store</h3>
        <table class="table">
          <tbody>
            <tr>
              <td width="30%">Store Name:</td>
              <td width="70%"><%= @photo.audit.store.name %></td>
            </tr>
            <tr>
              <td width="30%">Location:</td>
              <td width="70%">
                <% if @photo.audit.store.address.present? %>
                  <%= @photo.audit.store.address %>
                <% end %>
                <% if @photo.audit.store.address2.present? %>  
                  , <%= @photo.audit.store.address2 %> 
                <% end %>  
                <% if @photo.audit.store.address3.present? %>  
                  <%= @photo.audit.store.address3 %> 
                <% end %>  
                <% if @photo.audit.store.town.present? %>  
                  ,<%= @photo.audit.store.town %>
                <% end %>
                <% if @photo.audit.store.country_id.present? %>
                  <%= @photo.audit.store.country.name %>
                <% end %>
              </td>
            </tr>
            <% if @photo.audit.store.environment_type_id.present? %>
            <tr>
              <td width="30%">Environment Type</td>
              <td width="70%">
                <%= @photo.audit.store.environment_type.name %>
              </td>
            </tr>  
            <% end %>  
              </td>
            </tr>
            <tr>
              <td width="30%">Store Format</td>
              <td width="70%"><%= @photo.audit.store.store_format.name %></td>
            </tr>
            <% if @photo.audit.store.channel_id.present? %>
              <tr>
                <td width="30%">Channel</td>
                <td width="70%">
                  <%= @photo.audit.store.channel.name %>
                </td>
              </tr>
            <% end %>    
            <tr>
              <td width="40%">Audit Date</td>
              <td width="60%"><%= @photo.audit.created_at %></td>
            </tr>
            <tr>
              <td width="40%">Retailer</td>
              <td width="60%"><%= @photo.audit.store.retailer.name %></td>
            </tr>
            <tr>
              <td width="40%">Retail Sector</td>
              <td width="60%"><%= @photo.audit.store.retailer.sector.name %></td>
            </tr>
          </tbody>
        </table>
      </section>

      <section class="photo-info-details">
        <h3>Photo Data</h3>
        <table class="table">
          <tbody>
            <% if @photo.headline.present? %>
              <tr>
                <td width="40%">Headline</td>
                <td width="60%"><%= @photo.headline %></td>
              </tr>
            <% end %>
            <% if @photo.brands.present?  %>
              <tr>
                <td width="40%">Brands</td>
                <td width="60%"><%= @photo.brands.map(&:name).join(",") %></td>
              </tr>
              <tr>
                <td width="40%">Brand Owner</td>
                <td width="60%"><%= @photo.brands.first.brand_owner.name if @photo.brands.first.brand_owner_id.present? %></td>
              </tr>
            <% end %>
            <% if @photo.additional_brands.present? %>
              <tr>
                <td width="40%">Additional Brands:</td>
                <td width="60%"><%= @photo.additional_brands %></td>
              </tr>
            <% end %>
            <% if @photo.categories.present? %>
              <tr>
                <td width="40%">Product Category</td>
                <td width="60%"><%= @photo.categories.map(&:name).join(",") %></td>
              </tr>
            <% end %>
            <% if @photo.media_locations.present? %>
              <tr>
                <td width="40%">Media Locations</td>
                <td width="60%"><%= @photo.media_locations.map(&:name).join(",") %></td>
              </tr>
            <% end %>  
            <% if @photo.media_types.present? %>
              <tr>
                <td width="40%">Media Types</td>
                <td width="60%"><%= @photo.media_types.map(&:name).join(",") %></td>
              </tr>
            <% end %>
            <% if @photo.media_vehicles.present? %>
              <tr>
                <td width="40%">Media Vehicle</td>
                <td width="60%"><%= @photo.media_vehicles.map(&:name).join(",") %></td>
              </tr>
            <% end %>
            <% if @photo.promotion_calendar.present? %>
              <tr>
                <td width="40%">Promotion Calendar</td>
                <td width="60%"><%= @photo.promotion_calendar.name if @photo.promotion_calendar %></td>
              </tr>
            <% end %>  
            <% if @photo.promotion_types.present? %>
              <tr>
                <td width="40%">Promotion Type</td>
                <td width="60%"><%= @photo.promotion_types.map(&:name).join(",") %></td>
              </tr>
            <% end %>  
            <% if @photo.themes.present? %>
              <tr>
                <td width="40%">Themes</td>
                <td width="60%"><%= @photo.themes.map(&:name).join(",") %></td>
              </tr>
            <% end %>
            <% if @photo.description.present? %>
              <tr>
                <td width="40%">Descriptions</td>
                <td width="60%"><%= @photo.description %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
  <!--div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    
  </div-->

</section>

