<div class="page-header">
	<button type="button" class="close">×</button>
	<h1>New Brand</h1>
</div>
<%= simple_form_for @brand, remote: true, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= f.association :brand_owner, collection: BrandOwner.order(:name) %>
  <%#= f.association :brand_owner %>
  <%= f.input :description %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary', remote: true  %>
    <%= link_to 'Cancel', '#', :class => 'btn cancel' %>
  </div>
<% end %>
