var select_id = "#" + $('.no-results a').closest('.chzn-container').prev().attr('id');
var brand_owner
var values = new Array();
	values = $(select_id).val();
	values.push('<%= @brand.id %>');
	// values = values.split(",");
var new_brand = "<option value=<%= @brand.id %>><%= @brand.name %></option>";



// var brand_dropdown_id = $("#main .brand_owner_ddl").closest(".brands-owners-actions")
// 			.next(".brands-actions").children().find(".chosen-brand").attr('id');
// var pre_selected_brand_ids = new Array();
// 	$(brand_dropdown_id).find('option:selected').each(function(){
// 	  pre_selected_brand_ids.push($(this).val());  
// 	});

alert(select_id);
alert(values);


$('.overlay').empty();
$('.site-content').show();

//$('.brands-actions').html('<%= j render("/brands/shared/photos_brands_dropdown") %>');
$(select_id).append(new_brand);
// $(select_id).val('<%= @brand.id %>');
$(select_id).val(values);
$(select_id).trigger("liszt:updated");

$('.chosen-brand').chosen({no_results_text: "<a href='/brands/new' data-remote='true'>Add New Brand</a>:"});