
  <h3>Uploads</h3>
  <ul class="nav nav-tabs nav-stacked">
    <!-- <li>
      <%= link_to new_audit_path do %>
      Upload images <i class="icon-chevron-right"></i>
      <% end  %>
    </li> -->
    <li>
      <%= link_to audits_path do %>
        Audit List
        <i class="icon-chevron-right"></i>
      <% end  %>
    </li>
    <li>
      <%= link_to stores_path do %>
        Stores <i class="icon-chevron-right"></i>
      <% end  %>
    </li>
    <% if can? :read, @users %>
      <li>
        <%= link_to users_path do %>
          Users <i class="icon-chevron-right"></i>
        <% end  %>
      </li>
    <% end %>
    <li>
      <%= link_to admin_path do %>
        Unpublished Images <i class="icon-chevron-right"></i>
      <% end  %>
    </li>
  </ul>

  <h3>Settings</h3>
  <ul class="nav nav-tabs nav-stacked">
    <li>
      <%= link_to categories_path do %>
        Categories <i class="icon-chevron-right"></i>
      <% end  %>
    </li>
    <li>
      <%= link_to retailers_path do %>
      Retailers <i class="icon-chevron-right"></i>
      <% end %>
    </li>
    <li>
      <%= link_to sectors_path do %>
      Sectors <i class="icon-chevron-right"></i>
      <% end  %>
    </li>
    <li>
      <%= link_to brands_path do %>
      Brands
      <i class="icon-chevron-right"></i>
      <% end  %>
    </li>
    <li>
      <%= link_to brand_owners_path do %>
      Brand Owners
      <i class="icon-chevron-right"></i>
      <% end  %>
    </li>
    <li>
      <%= link_to channels_path do%>
        Channels
        <i class="icon-chevron-right"></i>
      <% end  %>  
    </li>
    <li>
      <%= link_to countries_path do %>
        Countries  
        <i class="icon-chevron-right"></i>
      <% end  %>
    </li>
    <li>
      <%= link_to store_formats_path do %>
        Store Formats
        <i class="icon-chevron-right"></i>
      <% end  %>
    </li>
    <li>
      <%= link_to environment_types_path do %>
        Environment Types
        <i class="icon-chevron-right"></i>
      <% end  %>
    </li>
    <li>
      <%= link_to media_types_path do %>
        Media Types
        <i class="icon-chevron-right"></i>
      <% end  %>
    </li>
    <li>
      <%= link_to media_locations_path do %>
        Media Locations
        <i class="icon-chevron-right"></i>
      <% end  %>
    </li>
    <li>
      <%= link_to media_vehicles_path do %>
        Media Vehicles
        <i class="icon-chevron-right"></i>
      <% end  %>
    </li>
    <li>
      <%= link_to promotion_calendars_path do %>
        Promotion Calendars
        <i class="icon-chevron-right"></i>
      <% end  %>
    </li>
    <li>
      <%= link_to promotion_types_path do %>
        Promotion Types
        <i class="icon-chevron-right"></i>
      <% end  %>
    </li>
    <li>
      <%= link_to themes_path do %>
        Themes
        <i class="icon-chevron-right"></i>
      <% end  %>
    </li>
  </ul>