
  <h3>Audits(Uploader Users)</h3>
  <ul class="nav nav-tabs nav-stacked">
    <!-- <li>
      <%= link_to new_audit_path do %>
      Upload images <i class="icon-chevron-right"></i>
      <% end  %>
    </li> -->
    <li>
      <%= link_to audits_path do %>
      Audit List
      <i class="icon-chevron-right"></i>
      <% end  %>
    </li>
      <li>
        <%= link_to stores_path do %>
        Stores <i class="icon-chevron-right"></i>
        <% end  %>
      </li>
  </ul>

  <h3>Manage Setting</h3>
  <ul class="nav nav-tabs nav-stacked">
    <li>
      <%= link_to categories_path do %>
        Manage Categories <i class="icon-chevron-right"></i>
      <% end  %>
    </li>
    <li>
      <%= link_to retailers_path do %>
      Manage Retailers <i class="icon-chevron-right"></i>
      <% end %>
    </li>
    <li>
      <%= link_to sectors_path do %>
      Manage Sectors <i class="icon-chevron-right"></i>
      <% end  %>
    </li>
    <li>
      <%= link_to brands_path do %>
      Manage Brands
      <i class="icon-chevron-right"></i>
      <% end  %>
    </li>
    <li>
      <%= link_to brand_owners_path do %>
      Manage Brand Owners
      <i class="icon-chevron-right"></i>
      <% end  %>
    </li>
    <li>
      <%= link_to channels_path do%>
        Manage channels
        <i class="icon-chevron-right"></i>
      <% end  %>  
    </li>
    <li>
      <%= link_to countries_path do %>
        Manage countries  
        <i class="icon-chevron-right"></i>
      <% end  %>
    </li>
    <li>
      <%= link_to store_formats_path do %>
        Manage Store Formats
        <i class="icon-chevron-right"></i>
      <% end  %>
    </li>
    <li>
      <%= link_to media_types_path do %>
        Manage Media Types
        <i class="icon-chevron-right"></i>
      <% end  %>
    </li>
    <li>
      <%= link_to media_locations_path do %>
        Manage Media Locations
        <i class="icon-chevron-right"></i>
      <% end  %>
    </li>
    <li>
      <%= link_to media_vehicles_path do %>
        Manage Media Vehicles
        <i class="icon-chevron-right"></i>
      <% end  %>
    </li>
    <li>
      <%= link_to promotion_calendars_path do %>
        Manage Promotion Calendars
        <i class="icon-chevron-right"></i>
      <% end  %>
    </li>
    <li>
      <%= link_to promotion_types_path do %>
        Manage Promotion Types
        <i class="icon-chevron-right"></i>
      <% end  %>
    </li>
  </ul>