<h1>Listing store_formats</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @store_formats.each do |store_format| %>
  <tr>
    <td><%= store_format.name %></td>
    <td><%= store_format.description %></td>
    <td><%= link_to 'Show', store_format %></td>
    <td><%= link_to 'Edit', edit_store_format_path(store_format) %></td>
    <td><%= link_to 'Destroy', store_format, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Store format', new_store_format_path %>
