<%- model_class = StoreFormat -%>
<div class="page-header">
  <h1>Store Formats</h1>
</div>

<div class="action">
  <%= link_to new_store_format_path, :class => 'btn btn-primary pull-right' do %>
  <i class="icon-plus icon-white"></i>
  <span>New Format</span>
  <% end %>
</div>


<table class="table table-striped" id="tbl-store-formats">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @store_formats.each do |store_format| %>
      <tr>
        <td><%= link_to store_format.name, store_format %></td>
        <td><%= store_format.description %></td>
        <td><%=l store_format.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_store_format_path(store_format), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      store_format_path(store_format),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
