<%- model_class = PromotionCalendar -%>
<div class="page-header">
  <h1>Promotion Calendar List</h1>
</div>
<div class="action">
  <%= link_to new_promotion_calendar_path, :class => 'btn btn-primary pull-right' do %>
  <i class="icon-plus icon-white"></i>
  <span>Add New</span>
  <% end %>
</div>
<table class="table table-striped" id="tbl-promo-cals">
  <thead>
    <tr>
      
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @promotion_calendars.each do |promotion_calendar| %>
      <tr>
        
        <td><%= promotion_calendar.name %></td>
        <td><%= promotion_calendar.description %></td>
        <td><%=l promotion_calendar.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_promotion_calendar_path(promotion_calendar), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      promotion_calendar_path(promotion_calendar),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%#= link_to t('.new', :default => t("helpers.links.new")),
            new_promotion_calendar_path,
            :class => 'btn btn-primary' %>
