<h1>Listing promotion_calendars</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @promotion_calendars.each do |promotion_calendar| %>
  <tr>
    <td><%= promotion_calendar.name %></td>
    <td><%= promotion_calendar.description %></td>
    <td><%= link_to 'Show', promotion_calendar %></td>
    <td><%= link_to 'Edit', edit_promotion_calendar_path(promotion_calendar) %></td>
    <td><%= link_to 'Destroy', promotion_calendar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Promotion calendar', new_promotion_calendar_path %>
