<!DOCTYPE html>
<html>
  <%= render 'layouts/blocks/head' %>



  <body>

  <%= render 'layouts/blocks/header' %>

  <div class="header_small">

    <div class="container">
      
      <div id = "main" >
     
        <section id="photoOverlay" class="overlay"></section>
        
        <section class="site-content" role="main">
          <% #flash.each do |name, msg| %>
            <!-- <div class="alert alert-<%#= name == :notice ? "success" : "error" %>">
              <%#= content_tag :div, msg %>
              <p class="pull-right">close</p>
            </div> -->

          <% #end %>
          
          <%#= content_tag :h1, yield(:title) if show_title? %>
          <%= yield %>
        </section>
         
      </div> 
      <div class="push"></div>
    </div>
    
    <%= render 'layouts/blocks/footer' %>

    <div id="photo-detail-model" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="photoOverlay" aria-hidden="true">
    </div>      
  </div>  <!-- /.container -->
  <%= javascript_include_tag "application" %>
   
  <%= yield :scripts %>
     
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-45283159-1', 'snapshotworldwide.com');
    ga('send', 'pageview');
  
  </script>

      
  </body>
</html>
