<!DOCTYPE html>
<html>
  <%= render 'layouts/blocks/head' %>

  <body>

  <%= render 'layouts/blocks/header' %>

  <div class="header_small">

    <div class="container">
      
      <div id = "main" >
     
        <section id="photoOverlay" class="overlay"></section>
        
        <section class="site-content" role="main">
          <% flash.each do |name, msg| %>
            <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
              <%= content_tag :div, msg %>
              <p class="pull-right">close</p>
            </div>

          <% end %>
          
          <%#= content_tag :h1, yield(:title) if show_title? %>
          <%= yield %>
        </section>
         
      </div> 

    </div>
    
    <%= render 'layouts/blocks/footer' %>

    <div id="photo-detail-model" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="photoOverlay" aria-hidden="true">
    </div>      
  </div>  <!-- /.container -->
  <%= javascript_include_tag "application" %>
  <%= yield :scripts %>
      
  </body>
</html>
